%section.single-asset-view.area.new-asset
  %section#single-asset.container
    .single-img.single-block
      -if @collection.front_image
        .single-img.single-block
          =image_tag(@collection.front_image.file.url(:medium))
    =form_for @collection do |f|
      - if @collection.errors.any?
        #error_explanation
          %h2= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
          %ul
            - @collection.errors.full_messages.each do |msg|
              %li= msg
      .single-details.single-block
        .single-extra
          -if sub
            -if parent.id == @archive_collection.id
              %h2
                #{type} site collection
            -else
              %h2
                #{type} subcollection of
                =parent.title
            %br
          -else
            %h2
              #{type} collection
            %br
          .field

            =f.label :title
            %br
            =f.text_field :title

          .field
            =f.label :description
            %br
            =f.text_area :description
          .field
            =f.label "Front Image ID"
            %br
            =f.text_field :front_image_id

            / Disabling current_user id - This is causing overwriting of site collections - need to think about how to manage this.


            =f.hidden_field :user_id, :value => sub ? @collection.user_id == 0 ? 0 : current_user.id : current_user.id

            =f.hidden_field :parent_id, :value => sub ? parent.id : nil


          .field
            =f.label "Public collection"
            =f.check_box :public
          -if current_user.admin?
            .field
              =f.label "Featured collection"
              =f.check_box :featured
            .actions

          = f.submit class: "btn"
