.gallery.container.clearfix.collection--gallery

  -@children.each do |collection|
    %article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
      .gallery-img
        =collection.front_image ? image_tag(collection.front_image.file.url(:medium)) : ""

      -params[:action] == "user_collections" || params[:action] == "show_user_collection" ? collection_url = user_collection_path(@user.url, collection.url) : collection_url = collection_path(collection.url)
      =link_to(collection_url, class: "collection-overlay") do


        .collection-item-text
          %span.collection-item-label View collection
          =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")
