.container.collection--list
  -@children.each do |collection|
    %article.collection__list-item{:id => collection.id}
      -@subchildren = collection.children.global.order(title: :asc)

      -params[:action] == "user_collections" || params[:action] == "show_user_collection" ? collection_url = user_collection_path(@user.url, collection.url) : collection_url = collection_path(collection.url)



      -if @subchildren.count >= 1
        =link_to(collection.title, "#"+collection.id.to_s, class: "collection__list-parent hasChildren")
        .collection__list-children{:id => 'list'+collection.id.to_s}
          %span.collection__list-child
            =link_to collection_url+'/list?view=list' do
              View collection
              %span.collection__arrow.-child
          -@subchildren.each do |child|

            -params[:action] == "user_collections" || params[:action] == "show_user_collection" ? child_url = user_collection_path(@user.url, child.url) : child_url = collection_path(child.url)

            %span.collection__list-child
              =link_to child_url do
                =child.title
                %span.collection__arrow.-child
      -else
        =link_to(collection.title, collection_url, class: "collection__list-parent noChildren")
