.container
  .gallery-header
    Images
.gallery.container.clearfix
  -assets.each do |asset|
    %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}

      -# Thumbnails
      .flex-stretch.flex-wrap.flex-center
        -if asset.media_type == "image"
          =image_tag(asset.file.url(:medium))
        -elsif asset.video?
          =image_tag(asset.thumbnail_url)

      -# Gallery Popup
      -if asset.media_type == "image"
        =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
          -if asset.title == nil
            [untitled]
          -else
            =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
          %section.container.clearfix
      -elsif asset.video?
        =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
          -if asset.title == nil
            [untitled]
          -else
            =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
          %section.container.clearfix
  .clearfix
  =paginate @assets
