=render partial: 'form', locals: {sub: @collection.has_parent?, parent: @parent, type: "Edit"}
%br
.container
  .gallery-header.clearfix
    %span.gallery-title=@collection.title
    =link_to 'Delete collection', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: "sub-nav-act"
    %span.bar-dets
      has
      =@collection.assets.count
      -if @collection.assets.count == 1
        image
      -else
        images
      &
      =@collection.children.count
      -if @collection.children.count == 1
        child collection
      -else
        child collections
    -if @collection.parent
      %span.bar-dets
        Parent collection:
        =link_to @collection.parent.title, collection_path(@collection.parent)
    -else
      %span.bar-dets
        =link_to "Top Level Collections", collections_path

    .gallery.container.clearfix
      -@assets.each do |asset|
        %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}

          -# Thumbnails
          .flex-stretch.flex-wrap.flex-center
            -if asset.media_type == "image"
              =image_tag(asset.file.url(:medium))
            -elsif asset.media_type == "video"
              =image_tag(asset.file.url(:thumb))

          -# Gallery Popup
          -if asset.media_type == "image"
            =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
              -if asset.title == nil
                [untitled]
              -else
                =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
              %section.container.clearfix
          -elsif asset.media_type == "video"
            =link_to(asset.file.url(:medium), class: "gallery-overlay gallery-popup mfp-iframe") do
              -if asset.title == nil
                [untitled]
              -else
                =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
              %section.container.clearfix
      .clearfix
      =paginate @assets

      / .search-area
      /   %h1 Search Area
      /   Put search interface here where clicks on images add to collection
      /   %br
