%section.gallery-view.area

  -if @personal_collections
    -# Your Collections
    %section.container
      .gallery-header
        %span.gallery-title Your Collections
        %span.bar-dets
          = @personal_collections.count.to_s + " collections"
    .gallery.container.clearfix
      -@personal_collections.each do |collection|
        %article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
          .gallery-img
            =image_tag(collection.front_image.file.url(:medium)) if collection.front_image
            =link_to(collection_path(collection), class: "collection-overlay") do
              .collection-item-text
                %span.collection-item-label Collection
                =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")



  -# Site Collections
  %section.container
    .gallery-header
      %span.gallery-title Site Collections
      %span.bar-dets
        = @archive_collections.count.to_s + " collections"
  .gallery.container.clearfix
    -# -@archive_collections[0..2].each do |collection|
    -@archive_collections.each do |collection|
      %article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
        .gallery-img
          =image_tag(collection.front_image.file.url(:medium)) if collection.front_image
          =link_to(collection_path(collection), class: "collection-overlay") do
            .collection-item-text
              %span.collection-item-label Collection
              =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")

    -# %article#t.gallery-item.gallery-full-item.collection-item
    -#   .gallery-img
    -#
    -#     =link_to(collection_path(@archive_collection), class: "collection-overlay") do
    -#       .collection-item-text
    -#         %span.collection-item-label View all



  -# Public User Collections
  %section.container
    .gallery-header
      %span.gallery-title User Collections
      %span.bar-dets
        = @user_collections.count.to_s + " collections"
  .gallery.container.clearfix
    -@user_collections.each do |collection|
      %article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
        .gallery-img
          =image_tag(collection.front_image.file.url(:medium)) if collection.front_image
          =link_to(collection_path(collection), class: "collection-overlay") do
            .collection-item-text
              %span.collection-item-label View collection
              =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")
