-# -if params[:sub] == "true"
-#   =render partial: 'subcollection_form', locals: {parent: @parent}
-# -else
-#   = render 'form'

=render partial: 'form', locals: {sub: params[:sub], parent: @parent, type: "Create new"}
