%section.gallery-view.area
  .container
    %span.gallery-title
      =link_to "Collections", collections_path
      %span.collection__arrow
      -if params[:action] == "show_user_collection"
        =link_to user_collections_path(@user.url) do
          =current_user == @user ? "Your " : @user.name.capitalize+"'s "
          collections
        %span.collection__arrow
      -@ancestors.each_with_index do |ancestor,i|
        -if i != @ancestors.count-1
          -if params[:action] == "show_user_collection"
            =link_to ancestor.title, user_collection_path(@user.url, ancestor.url)
          -else
            =link_to ancestor.title, collection_path(ancestor.url)
        -else
          =ancestor.title
        -if i != @ancestors.count-1
          %span.collection__arrow
    .gallery-header.collection-header
      -if logged_in?
        -if current_user.admin? or @user.id == @collection.user_id
          =link_to 'Add new subcollection', new_collection_path({sub: true, parent_id:@collection.id}), class: "sub-nav-act isFirst"
          -if @collection != @archive_collection
            =link_to 'Edit collection', edit_collection_path(@collection), class: "sub-nav-act"
            =link_to 'Delete collection', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: "sub-nav-act"
      %span.bar-dets{:class => ("isFirst" unless (logged_in? && current_user.admin?) or (logged_in? and @user.id == @collection.user_id))}
        has
        =@assets.count
        -if @assets.count == 1
          image
        -else
          images
        &
        =@children.count
        -if @children.count == 1
          child collection
        -else
          child collections

  -# Sub Collections
  -if @children.count >= 1
    .container
      .gallery-header.collection-subheader
        %span.collection-subheader__heading
          Sub Collections
        %span.bar-dets
          View as
          =link_to "list", (params[:action] == "show_user_collection" ? user_collection_list_path(@user.url, @collection.url) : collection_list_path(@collection.url)) + "?view=list"
          |
          =link_to "gallery", (params[:action] == "show_user_collection" ? user_collection_list_path(@user.url, @collection.url) : collection_list_path(@collection.url)) + "?view=gallery"
    -if params[:view] == "list"
      =render :partial => "show_collections_list_view.html", locals: {children: @children, user: @user}
    -else
      =render :partial => "show_collections_gallery_view.html", locals: {children: @children, user: @user}
    .container
      = paginate @children
  -# Images
  -if @assets.count >= 1
    =render :partial => "show_assets_gallery_view.html", locals: {assets: @assets}
