%section.gallery-view.area
  .container
    %span.gallery-title
      =link_to "Collections", collections_path
      %span.collection__arrow
      =current_user == @user ? "Your " : @user.name.capitalize+"'s "
      collections
    .gallery-header.collection-header
      =link_to 'Add new collection', new_collection_path(), class: "sub-nav-act isFirst"
      %span.bar-dets
        =current_user == @user ? "You have" : @user.name.capitalize+" has"
        =@children.count
        -if @children.count == 1
          collection
        -else
          collections

  -# Sub Collections
  -if @children.count >= 1
    .container
      .gallery-header.collection-subheader
        %span.collection-subheader__heading
          Collections
        %span.bar-dets
          View as
          =link_to "list", user_collections_path(@user.url) + "?view=list"
          |
          =link_to "gallery", user_collections_path(@user.url) + "?view=gallery"
    -if params[:view] == "list"
      =render :partial => "show_collections_list_view.html", locals: {children: @children}
    -else
      =render :partial => "show_collections_gallery_view.html", locals: {children: @children}
    .container
      = paginate @children
