=form_for(:session, url: sessions_path) do |f|
  .signup.clearfix
    .signup__col
      = f.label :email, class: "signup__label"
      = f.text_field :email, class: "signup__input input-search input-search-sm"
      .signup__error
        -flash.each do |name, msg|
          =msg
    .signup__col
      = f.label :password, class: "signup__label"
      = f.password_field :password, class: "signup__input input-search input-search-sm"

      =link_to "Forgot Password?", new_password_reset_path
    .signup__full-col
      =f.label "Remember me", class: "signup__checkbox" do
        =f.check_box :remember_me
        %span
          Remember me on this computer
      = f.submit "Sign in", class: "btn btn-large btn-primary"
