=form_for(:password_reset, url: password_resets_path) do |f|
  .signup.clearfix
    .signup__col
      = f.label :email, class: "signup__label"
      = f.text_field :email, class: "signup__input input-search input-search-sm"
    .signup__full-col
      = f.submit "Reset password", class: "btn btn-large btn-primary"
