=form_for(@user, url: password_reset_path(params[:id])) do |f|
  
  = hidden_field_tag :email, @user.email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  = f.submit "Update password", class: "btn btn-large btn-primary"   