= "Hello " + @user.name + "!!!"

Welcome to the Demarco Digital Archive. With a use account you can save your own custom collections or add favorites to view later. 

Click the link below to activate your account:

=edit_account_activation_url(@user.activation_token, email: @user.email)
