%h1
  To reset your password click the link below:

=edit_password_reset_url(@user.reset_token, email: @user.email)

%p
  The link will expire in two hours.

%p
  If you did not request your password to be reset, please ignore this email and
your password will stay as it is.