=form_tag('/favorites', :remote => true, :id => "fav_form") do
  =hidden_field_tag(:user_id, current_user.id)
  =hidden_field_tag(:asset_id, asset.id)
  =submit_tag("Add to favorites", :id => "fav_button", :class=> "btn-fav btn btn-fav-on")
  
    