=form_tag(current_user.favorites.where(:asset_id => asset.id).first, :remote => true, :id => "fav_form", :method => "delete") do
	=submit_tag("Remove from favorites", :id => "fav_button", :class=> "btn-fav btn btn-fav-off")