=form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    
    =f.label :name
    %br
    =f.text_field :name
    
  .field  
    =f.label :nationality
    %br
    =f.text_field :nationality
    
  .field
    =f.label :dob
    %br
    =f.date_select :dob
    
  .field
    =f.label :role
    %br
    =f.text_field :role
    
          

  .actions
    = f.submit 'Save'
