


%section.gallery-view.area
  %header.container

    %section.dash-search-area.bumper
      .dash-add
        =link_to "Add new person", new_person_path, class: "btn btn-big"
      %span.form-sep
        Or  
      = render 'search/form'
  -@people.each do |person|
    %section.container.clearfix.gallery-list
      .gallery-header
        %span.gallery-title=person.name
        =link_to 'View person', "/people/#{person.url}", class: "sub-nav-act"
        =link_to 'Edit person', edit_person_path(person), class: "sub-nav-act"
        =link_to 'Delete person', person, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "sub-nav-act"
        
      
      .gallery
        -person.assets[0..2].each do |asset|
          
          %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
            .gallery-img.flex-stretch.flex-wrap.flex-center
              =image_tag(asset.file.url(:medium))
            
           
            =link_to(asset_path(asset), class: "gallery-overlay") do
    	        
            
              =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
        -if person.assets.count > 3      
          %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center
            =link_to("/people/#{person.url}", class: "gallery-more") do
              View more &#8594

              


=link_to "New Person", new_person_path, class: "btn btn-big"