%section.container.clearfix.gallery-list
%section.gallery-view.area
  %section.container
    .gallery-header
      %span.gallery-title=@person.name
      %span.bar-dets
        Role:
        =@person.role
      %span.bar-dets
        Appears in
        =@assets.count
        -if @assets.count == 1
          image
        -else
          images
      -if current_user && current_user.admin?
        %span.bar-dets
          =link_to "Edit Person", edit_person_path
        %span.bar-dets
          =link_to "Delete Person", delete_person_path, method: :delete


  %section.gallery.container.clearfix
    -if @assets
      -@assets.each do |asset|
        %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
          .gallery-img.flex-stretch
            =image_tag(asset.file.url(:medium))
          =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
            =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
-#       .clearfix
-#       =paginate @assets