

.container.filter-panel#fpanel
  .gallery-header
    %span.gallery-title Advanced asset filtering

  .filter-panel-form.clearfix#fpform
    =form_tag("/search", method: "get", remote: true, id: "filterForm") do |form|
      =hidden_field_tag "search_type", "assets"
      =hidden_field_tag "q", params[:q], id: "filter-query"

      -#%h2 People
      .field-wrap

        .field#peopleform
          .filter-item
            =select_tag('people[]',options_from_collection_for_select(@people, 'name', 'name', params[:people]), {:multiple=>"true", :id => "filter-people", :placeholder => "People"})
            .filter-toggle
              .filter-radio
                =radio_button_tag :people_combo, "any", params[:people_combo] == "any", :class => "filter-radio-any"
                =label_tag :any_any, "Any people", :class => "radio-label"
                %br
                =radio_button_tag :people_combo, "all", params[:people_combo] == "all", :class => "filter-radio-all"
                =label_tag :all_all, "All people", :class => "radio-label"
              .toggle-wrap
                .toggle-button{:class => ("toggleOn" if params[:people_combo] == "all")}
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Only show results matching
                  %span.toggle-em all
                  people


          .filter-item
            =select_tag('nationality[]', options_for_select(@nationalities, params[:nationality]), {:multiple=>"true", :id => "filter-nationality", :placeholder => "Nationality"})
            .filter-toggle
              .filter-radio
                =radio_button_tag :nationality_combo, "any", params[:nationality_combo] == "any", :class => "filter-radio-any"
                =label_tag :any_any, "Any nationality", :class => "radio-label"
                %br
                =radio_button_tag :nationality_combo, "all", params[:nationality_combo] == "all", :class => "filter-radio-all"
                =label_tag :all_all, "All nationality", :class => "radio-label"
              .toggle-wrap
                .toggle-button{:class => ("toggleOn" if params[:nationality_combo] == "all")}
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Only show results matching
                  %span.toggle-em all
                  nationalities




          -#/ For testing
          -#params[:people]
          -#params[:nationality]
          -#=params



        .field#mediumform
          .filter-item
            =select_tag('medium[]', options_for_select(@mediums, params[:medium]), {:multiple=>"true", :id => "filter-mediums", :placeholder => "Medium"})


        -#.field#dateform
          -#.filter-item
            -#=label_tag "Date From"
            -#=date_field_tag :after, Date.new(1950,1,1), :placeholder => "Date After"
            -#=label_tag "Date To"
            -#=date_field_tag :before, Date.today, :placeholder => "Date Before"



        .field#tagform
          .filter-item
            =select_tag('tags[]', options_for_select(@tags, params[:tags]), {:multiple=>"true", :id => "filter-tags", :placeholder => "Tags"})
            .filter-toggle
              .filter-radio
                =radio_button_tag :tags_combo, "any", params[:tags_combo] == "any", :class => "filter-radio-any"
                =label_tag :any_any, "Any tags", :class => "radio-label"
                %br
                =radio_button_tag :tags_combo, "all", params[:tags_combo] == "all", :class => "filter-radio-all"
                =label_tag :all_all, "All tags", :class => "radio-label"
              .toggle-wrap
                .toggle-button{:class => ("toggleOn" if params[:tags_combo] == "all")}
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Only show results matching
                  %span.toggle-em all
                  tags


        .field#dateform
          .filter-item.date-picker-item
            =label_tag "Date From"
            =date_field_tag :after, nil, :placeholder => "Date After", :class => "datepicker"
          .filter-item.date-picker-item
            =label_tag "Date To"
            =date_field_tag :before, nil, :placeholder => "Date Before", :class => "datepicker"

        .field#referenceform
          .filter-item
            %br
            =select_tag('archive_reference', options_for_select(@catalogue_numbers, params[:archive_reference]), {:multiple=>"false", :id => "filter-catalogue_numbers", :placeholder => "Catalogue number"})

        .field#colour
          %span.field-label.hide Colour
          =params[:colour]
          .filter-toggle
            .filter-radio
              =radio_button_tag :colour, "false", params[:colour] == "false", :class => "filter-radio-any"
              =label_tag :colour_true, "B&W", :class => "radio-label"
              %br
              =radio_button_tag :colour, "true", params[:colour] == "true", :class => "filter-radio-all"
              =label_tag :colour_false, "Colour", :class => "radio-label"
            .toggle-wrap
              .toggle-button{:class => ("toggleOn" if params[:colour] == "true")}
                .toggle-knob-holder
                  .toggle-knob
              %span.toggle-info
                Only show
                %span.toggle-em colour
                items

        -if current_user && current_user.admin?
          .field#status
            %span.field-label.hide Status
            .filter-toggle
              .filter-radio
                =radio_button_tag :status, "all", params[:status] == "all", :class => "filter-radio-any"
                =label_tag :status_all, "All", :class => "radio-label"
                %br
                =radio_button_tag :status, "unpublished", params[:status] == "unpublished", :class => "filter-radio-all"
                =label_tag :status_unpublished, "Unpublished", :class => "radio-label"
              .toggle-wrap
                .toggle-button{:class => ("toggleOn" if params[:status] == "unpublished")}
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Only show
                  %span.toggle-em unpublished
                  items






      =submit_tag "", class: "search-btn"
