.top-search
  = form_tag("/search", method: "get") do
    .flex-wrap.flex-center
      = label_tag(:q, "Search for:", class: "label-hide")
      .flex-wrap.flex-stretch.search-top-wrap
        = search_field_tag :q ,nil, placeholder: "Search for an asset", class: "input-search input-search-sm flex-stretch", autocomplete: "off", id: 'nav-query'


        = submit_tag "", class: "search-btn-sm"
      =link_to(search_path, class: "btn-text-top") do
        Advanced search &#8594
