.dash-search
  = form_tag("/search", method: "get", remote: true, id: "keyword-form") do
    .flex-wrap
      = label_tag(:q, "Search for:", class: "label-hide")
      = search_field_tag :q , params[:q], placeholder: "Enter search terms", class: "input-search flex-stretch", id: 'keyword-query'



      = submit_tag "", class: "search-btn"
    .field#search-type
      .search-type-radio
        =radio_button_tag :search_type, "all", params[:search_type] != "assets" && params[:search_type] != "people" && params[:search_type] != "collections", :class => "filter-radio-all"
        =label_tag :search_all, "All", :class => "radio-label"
      .search-type-radio
        =radio_button_tag :search_type, "assets", params[:search_type] == "assets", :class => "filter-radio-any"
        =label_tag :search_assets, "Assets Only", :class => "radio-label"
      .search-type-radio
        =radio_button_tag :search_type, "people", params[:search_type] == "people", :class => "filter-radio-all"
        =label_tag :search_people, "People Only", :class => "radio-label"
      .search-type-radio
        =radio_button_tag :search_type, "collections", params[:search_type] == "collections", :class => "filter-radio-all"
        =label_tag :search_collections, "Collections Only", :class => "radio-label"
