%section.gallery-view
  .gallery-header.container
    %span.gallery-title #{search.total} results

  %section.gallery.container.clearfix

    -search.each_hit_with_result do |hit, result|

      -if hit.class_name == "Asset"
        =render :partial => 'search/result_types/asset', locals: {hit: hit, asset: result}
      -if hit.class_name == "Collection"
        =render :partial => 'search/result_types/collection', locals: {hit: hit, collection: result}
      -if hit.class_name == "Person"
        =render :partial => 'search/result_types/person', locals: {hit: hit, person: result}


  =paginate search.results
