$(".gallery-view").infinitescroll('destroy');
$(".gallery-view").html("<%= escape_javascript( render('results', {search: @search})) %>");
galleryInit();

$(".gallery-view").infinitescroll({
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".gallery"
    },

    function(arrayOfNewElems){
      galleryInit();

    }

    );
