.pad-top
  -if @search

    -if params[:all_people]
      = params[:all_people].split(",")

    .container.flex-wrap
      = render 'form'

    = render 'filter_panel'
    .area
      = render :partial => "results", locals: {search: @search}


  -else
    %h2 No results
