%section.container.dashboard
  %h1.big-text
    Welcome
    =@user.name
  .clearfix
    %section.dash-stats.area
      %section
        .gallery-header
          %span.gallery-title Usage stats
        Collections:
        =link_to @stats[:collections], collections_path
        %br
        Favourites:
        =link_to @stats[:favorites], favorites_path
        %br
        Images Viewed:
        =link_to @stats[:total_views], history_path
        %br
        = "Joined: #{@stats[:joined]}"

    -if current_user.admin?
      %section.area
        .gallery-header
          %span.gallery-title Admin actions

        =link_to "Add new asset", "/assets/new", class: "btn btn-big dashboard__button"
        =link_to "View all users", users_path, class: "btn btn-big dashboard__button"
        =link_to "Edit static text", '/static_text/edit', class: "btn btn-big dashboard__button"
        -# -@users = User.all
        -# %table
        -#   %thead
        -#     %tr
        -#       %th User Name
        -#       %th Show user
        -#       %th Edit User
        -#       %th Delete User
        -#   -@users.each do |user|
        -#     %tbody
        -#       %tr
        -#         %td= "#{user.name}"
        -#         %td= link_to 'Show', "/users/#{user.url}"
        -#         %td= link_to 'Edit', edit_user_path(user)
        -#         %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -#   %br
        -#   = link_to 'New User', new_user_path


  -if @collections != []
    %section.gallery-view.area
      .gallery-header
        %span.gallery-title Collections

      .clearfix.gallery-list
        .gallery
          -@collections[0..4].each do |collection|

            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => collection.front_image_id}
              .gallery-img.flex-stretch.flex-wrap.flex-center
                -# =image_tag(asset.find(collection.front_image_id).file.url(:medium))
                =collection.front_image ? image_tag(collection.front_image.file.url(:medium)) : ""


              =link_to(collection_path(collection.url), class: "collection-overlay") do

                .collection-item-text
                  %span.collection-item-label View collection
                  =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")

          -if @collections.count > 5
            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center
              =link_to("/collections", class: "gallery-more") do
                View all collections &#8594

  -if @user.favorites != []
    %section.gallery-view.area

      .gallery-header
        %span.gallery-title Favourites

      .clearfix.gallery-list

        .gallery
          -@favorites[0..2].each do |favorite|

            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => favorite.asset.id}
              .gallery-img.flex-stretch.flex-wrap.flex-center
                -if favorite.asset.media_type == "image"
                  =image_tag(favorite.asset.file.url(:medium))
                -elsif favorite.asset.video?
                  =image_tag(favorite.asset.thumbnail_url)


              =link_to(asset_path(favorite.asset), class: "gallery-overlay") do


                =simple_format(favorite.asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
                -#Favorited on
                -#favorite.created_at.strftime("%A %B #{favorite.created_at.day.ordinalize}, %Y")

          -if @favorites.count > 2
            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center
              =link_to(favorites_path, class: "gallery-more") do
                View all favorites &#8594

  %section.gallery-view.area
    .gallery-header
      %span.gallery-title History
    .gallery.clearfix
      -@history[0..10].each do |asset|
        %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
          .gallery-img.flex-stretch.flex-wrap.flex-center
            -if asset.media_type == "image"
              =image_tag(asset.file.url(:medium))
            -elsif asset.video?
              =image_tag(asset.thumbnail_url)

          =link_to(asset_path(asset), class: "gallery-overlay") do


            =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
            -#av.assetd on
            -#av.asset.created_at.strftime("%A %B #{av.asset.created_at.day.ordinalize}, %Y")
      -if @history.pluck(:id).count > 11
        %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center
          =link_to(history_path, class: "gallery-more") do
            View all History &#8594
