%section.container

  -if @favorites != []
    %section.gallery-view.area

      .gallery-header
        %span.gallery-title All favourites

      .clearfix.gallery-list

        .gallery
          -@favorites.each do |favorite|

            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => favorite.asset.id}
              .gallery-img.flex-stretch.flex-wrap.flex-center
                -if favorite.asset.media_type == "image"
                  =image_tag(favorite.asset.file.url(:medium))
                -elsif favorite.asset.video?
                  =image_tag(favorite.asset.thumbnail_url)


              =link_to(asset_path(favorite.asset), class: "gallery-overlay") do


                =simple_format(favorite.asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
                -#Favorited on
                -#favorite.created_at.strftime("%A %B #{favorite.created_at.day.ordinalize}, %Y")

      = paginate @favorites
