%section.container

  -if @history != []
    %section.gallery-view.area

      .gallery-header
        %span.gallery-title All history

      .clearfix.gallery-list

        .gallery
          -@history.each do |asset|
            %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
              .gallery-img.flex-stretch.flex-wrap.flex-center
                -if asset.media_type == "image"
                  =image_tag(asset.file.url(:medium))
                -elsif asset.media_type == "video"
                  =image_tag(asset.file.url(:thumb))

              =link_to(asset_path(asset), class: "gallery-overlay") do


                =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")

      = paginate @history
