%section.container.dashboard
  %h1.big-text
    All site users

  %section
    .gallery-header
      %span.gallery-title All site users
    .dashboard__table
      %table
        %tr
          %th User Name
          %th User Email
          %th Delete User
          %th Admin

        - @users.each do |user|
          %tr
            %td= "#{user.name}"
            %td= "#{user.email}"
            %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %td

              =form_for(user, url: "/users/#{user.id}/toggle_admin", remote: true, method: 'post', html:{'data-admin-form': "#{user.id}"}) do |f|
                .filter-toggle
                  .filter-radio
                    =f.radio_button :admin, false, :class => "filter-radio-any"
                    =f.label :admin_false, "Not admin"
                    =f.radio_button :admin, true, :class => "filter-radio-all"
                    =f.label :admin_true, "Admin"
                  .toggle-wrap
                    .toggle-button{:class => ("toggleOn" if user.admin?), :'data-toggle' => "#{user.id}"}
                      .toggle-knob-holder
                        .toggle-knob


      %br
      = paginate @users

    %br

    =link_to "New user", new_user_path, class: "btn btn-big dashboard__button"
