%section.container.dashboard
  %h1.big-text
    Sign up for the Demarco Digital Archive
%section.container.signup-text
  %h3 Signing up for a user account unlocks a few features of the site, including:
  %ul
    %li Favorite images as you browse the collection, which you can review in your own dashboard homepage
    %li Create your own Demarco Archive with collections. Collections allow you to organize images into groups or subgroups that you can access privately or make public for everyone to see.
    %li Access your browsing history


%section
  .container.clearfix

    =form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f|
      .signup.clearfix
        .signup__col
          = f.label :name, class: "signup__label"
          = f.text_field :name, class: "signup__input input-search input-search-sm"
          .signup__error
            =show_errors(@user, :name)
        .signup__col
          = f.label :email, class: "signup__label"
          = f.text_field :email, class: "signup__input input-search input-search-sm"
          .signup__error
            =show_errors(@user, :email)
        .signup__col
          = f.label :password, class: "signup__label"
          = f.password_field :password, class: "signup__input input-search input-search-sm"
          .signup__error
            =show_errors(@user, :password)
        .signup__col
          = f.label :password_confirmation, class: "signup__label"
          = f.password_field :password_confirmation, class: "signup__input input-search input-search-sm"
          .signup__error
            =show_errors(@user, :password_confirmation)
        .signup__full-col
          = f.submit "Sign up", class: "btn btn-large btn-primary"
