=form_for @asset, url: "/assets/#{@asset.url}" do |f|
  -if @asset.errors.any?
    #error_explanation
      =pluralize(@asset.errors.count, "error")
      prohibited this asset from being saved:
      -@asset.errors.full_messages.each do |msg|
        =msg
        
  .field
    
    =f.label :file
    %br
    =f.file_field :file
    
   
  .field
    
    =f.label :title
    %br
    =f.text_field :title  
  
  .field
    
    =f.label :description
    %br
    =f.text_area :description
  
  .field
  
    =f.label :archive_reference, 'Reference Codes'
    %br
    =f.text_field :archive_reference
	
  .field
  
    =f.label :archive_original_code, 'Original Reference'
    %br
    =f.text_field :archive_original_code
		  
  .field
  
    =f.label :medium, 'Extent and medium'
    %br
    =f.text_field :medium
  	
  .actions
    =f.submit
  
