.container.error-message
  =image_tag "error_cam.png"
  %br
  We're sorry, but something has gone wrong, the error has been logged.
  %br
  %br
  Get in touch with us at
  =link_to "our contact page", "/about"
  if you require further assistance