.container.clearfix.about
  %h1.big-text 
    =@static_text.about_title.html_safe
  .about-left
    =@static_text.about_body.html_safe

  .about-right
    .about-docs
      %h2 Documents
      =link_to "/richard_demarco_biography.pdf" do
        =image_tag "doc_icon.png", :alt=> "chronology document", width: "30px"
        %p
          Biography

      =link_to "/richard_demarco_chronology.pdf" do
        =image_tag "doc_icon.png", :alt=> "chronology document", width: "30px"
        %p
          Chronology
      =image_tag "doc_icon.png", :alt=> "Privacy Policy", width: "30px"
      %p
        Privacy Policy
    .about-copyright
      %h2 Copyright
      =@static_text.about_copyright.html_safe
    .about-contact
      %h2 Contact
      %p
        Please let us know if you have any questions or enquiries
      =form_tag "/home/send_contact" do
        =text_field_tag :name, nil, placeholder:  "Name", class: "field"
        =text_field_tag :email, nil, placeholder:  "Email", class: "field"
        =text_area_tag :message, nil, placeholder: "Message", class: "text-area"
        =submit_tag "Send message", class: "btn"