%section.container.dashboard.front-page
  .header_block
    %h1.home-hero-heading
      =@static_text.front_header.html_safe

    .blurb
      =@static_text.front_introduction.html_safe

.front-hero-block
  .front-hero-heading
    .hero-quote
      =@static_text.front_quote.html_safe


.front-logos
  .front-logos__text
    %h2
      Project partners and funders
  .clearfix.container
    =link_to "http://www.richarddemarco.org/", target: "_blank" do
      .front-logos__image-wrap
        =image_tag('logo-01.png', class: 'front-logos__image')
    =link_to "https://www.dundee.ac.uk/", target: "_blank" do
      .front-logos__image-wrap
        =image_tag('uod_logo_new', class: 'front-logos__image')
    =link_to "http://www.ahrc.ac.uk/", target: "_blank" do
      .front-logos__image-wrap
        =image_tag('logo-03.png', class: 'front-logos__image')
    =link_to "https://www.nationalgalleries.org/", target: "_blank" do
      .front-logos__image-wrap
        =image_tag('logo-04.png', class: 'front-logos__image')
    =link_to "https://www.dundee.ac.uk/djcad/", target: "_blank" do
      .front-logos__image-wrap
        =image_tag('logo-05.png', class: 'front-logos__image')

/ Featured Collections
-if @featured_collections != []
  .container
    .gallery-header{:style=>"border-top:0px"}
      %span.gallery-title="Browse Featured Collections"

  %section.gallery-view
    .gallery.container.clearfix.collection--gallery
      -@featured_collections[0..7].each do |collection|
        %article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
          .gallery-img
            =collection.front_image ? image_tag(collection.front_image.file.url(:medium)) : ""

          -params[:action] == "user_collections" || params[:action] == "show_user_collection" ? collection_url = user_collection_path(@user.url, collection.url) : collection_url = collection_path(collection.url)
          =link_to(collection_url, class: "collection-overlay") do


            .collection-item-text
              %span.collection-item-label View collection
              =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")


.container
  .gallery-header
    %span.gallery-title="Recently viewed images"

%section.gallery-view
  %section.gallery.container.clearfix

    -@recently_viewed.each do |asset|
      %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}

        -# Gallery Display
        .gallery-img.flex-stretch.flex-wrap.flex-center
          -#Thumbnails
          -if asset.media_type == "image"
            =image_tag(asset.file.url(:medium))
          -elsif asset.media_type == "video"
            =image_tag(asset.file.url(:thumb))

        -# Gallery popup
        -if asset.media_type == "image"
          =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
            -if asset.title == nil
              [untitled]
            -else
              =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
            %section.container.clearfix
        -elsif asset.media_type == "video"
          =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
            -if asset.title == nil
              [untitled]
            -else
              =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
            %section.container.clearfix

%section.gallery-view.area.container
  .gallery-header
    %span.gallery-title="Popular Images"

  %section.gallery.clearfix

    -@popular.each do |asset|
      %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}

        -# Gallery Display
        .gallery-img.flex-stretch.flex-wrap.flex-center
          -#Thumbnails
          -if asset.media_type == "image"
            =image_tag(asset.file.url(:medium))
          -elsif asset.media_type == "video"
            =image_tag(asset.file.url(:thumb))

        -# Gallery popup
        -if asset.media_type == "image"
          =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
            -if asset.title == nil
              [untitled]
            -else
              =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
            %section.container.clearfix
        -elsif asset.media_type == "video"
          =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
            -if asset.title == nil
              [untitled]
            -else
              =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
            %section.container.clearfix



      / = paginate @assets
