%h2 Contact message from Demarco Digital Archive

%h3 
  %bold
    From:
  =@contact_message[:contact_name]

%h3 
  %bold
    Email:
  =@contact_message[:contact_email]

%h3
  %bold
    Message contents:
  %br
  =@contact_message[:contact_message]
