%section.container.clearfix.gallery-list
%section.gallery-view.area
  %section.container
    .gallery-header
      %span.gallery-title=@tag.name
      %span.bar-dets
        Appears in
        =@tag.assets.count
        -if @tag.assets.count == 1
          image
        -else
          images

        
%section.gallery.container.clearfix
  -@assets.each do |asset|
    %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
      .gallery-img.flex-stretch
        =image_tag(asset.file.url(:medium))
      
     
      =link_to(asset_path(asset), class: "gallery-overlay") do
        
      
        =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")      
