%section.single-asset-view.area.edit-asset
  %section#single-asset.container.clearfix
    =form_for(@asset, url: "/assets/#{@asset.url}", html:{onsubmit:'return formContent()'}) do |f|
      -if @asset.errors.any?
        #error_explanation


          =@person.first.name
          =pluralize(@asset.errors.count, "error")
          prohibited this asset from being saved:
          -@asset.errors.full_messages.each do |msg|
            =msg



      .single-img.single-block
        -if @asset.media_type == "image"
          =image_tag(@asset.file.url(:large))
        -elsif @asset.video?
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => @asset.video_url, :class => "video-embed"}

      .single-details.single-block
        .single-info
          .field


            =f.hidden_field :title, value:nil
            -if @asset.title
              =simple_format(@asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {contenteditable: "true", id: "editTitle", class: "editable"}, wrapper_tag: "h1")

          .field
            =f.hidden_field :description, value:nil
            -if @asset.description
              =simple_format(@asset.description.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), contenteditable: "true", id: "editDescription", class: "editable")

        .single-extra
          .field#status
            =f.label :status, "Status"
            %br
            .filter-toggle
              .filter-radio
                =f.radio_button :status, "Unpublished", :class => "filter-radio-any"
                =f.label :status_unpublished, "Unpublished"
                =f.radio_button :status, "Published", :class => "filter-radio-all"
                =f.label :status_published, "Published"
              .toggle-wrap
                .toggle-button{:class => ("toggleOn" if @asset.status == "Published")}
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Publish asset

          -if @asset.video
            .field

              =f.label :video_url, 'Video URL'
              %br
              =f.text_field :video_url
          
          .field

            =f.label :medium, 'Medium'
            %br
            =f.text_field :medium


          .field

            =f.label :archive_reference, 'Reference Codes'
            %br
            =f.text_field :archive_reference

          .field

            =f.label :archive_original_code, 'Original Reference'
            %br
            =f.text_field :archive_original_code

          .field#collections
            =f.label :collections, "Archive Collections"
            %br


            -collection_ids = []
            -@asset.collections.global.each do |item|
              -collection_ids.push(item.id)

            =select_tag('collections[]', options_from_collection_for_select(@collections, 'id', 'title', collection_ids), {:multiple=>"true", :id => "edit-asset-collection", :placeholder => "Collection"})

          .field#tags
            =f.label :tags, "Tags"
            %br

            =hidden_field "tags","tags", value:@assettags_json, id: "asset_tags", "data-asset-tags": @tags_json, "data-asset-id": @asset.id

          -unless @asset.video?
            .field#colour
              =f.label :colour, "Colour"
              %br
              .filter-toggle
                .filter-radio
                  =f.radio_button :colour, false, :class => "filter-radio-any"
                  =f.label :colour_false, "Black & white"
                  =f.radio_button :colour, true, :class => "filter-radio-all"
                  =f.label :colour_true, "Colour"
                .toggle-wrap
                  .toggle-button.asset-colour-toggle
                    .toggle-knob-holder
                      .toggle-knob
                  %span.toggle-info
                    Image is colour


          .field.clearfix#date
            .filter-item.date-picker-item
              =label_tag "Date From"
              =f.date_field :date_from, :class => "datepicker"
            .filter-item.date-picker-item
              =label_tag "Date To"
              =f.date_field :date_to, :class => "datepicker"

          .field#peopleform
            =f.label :people, "People"

            =hidden_field "people","people", value:@asset_people_json, id: "asset_people", "data-asset-people": @people_json, "data-asset-id": @asset.id
          -unless @asset.video?
            .field
            
              =f.label :file, "Upload new asset"
              %br
              =f.file_field :file
          .actions
            =f.submit class: "btn"
            =link_to "Delete Asset", @asset, method: :delete, class: "btn-delete btn",  data: {:confirm => "Are you sure you want to delete this asset?"}
