%section.gallery-view.area
  %section.gallery.container.clearfix

    -@assets.each do |asset|
      %article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
        .gallery-img.flex-stretch.flex-wrap.flex-center
          =image_tag(asset.file.url(:medium))
        
       
        =link_to(asset_path(asset), class: "gallery-overlay") do
	        
        
          =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
  %section.container.clearfix
          
    = paginate @assets

