.lightbox.single-asset-view
  .lb-img.lb-block
    -if @asset.media_type == "image"
      =image_tag(@asset.file.url(:large))
    -elsif @asset.video?
      %br
      %br
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => @asset.video_url, :class => "video-embed"}
    =link_to(asset_path(), class: "lightbox-link") do
      View asset

  .lb-details.lb-block
    .single-info
      -if @asset.title
        =simple_format(@asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
      -else
        Untitled
      -if @asset.description
        =simple_format(@asset.description.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""))
      -else
        No description
    .single-extra

      -if @asset.date_from
        %h2="Date"
        %p=link_to @asset.date_from.strftime("%a %b #{@asset.date_from.day.ordinalize}, %Y"), "/search?search_type=assets&on=#{@asset.date_from}"
      -else
      
      -if @asset.medium != ""
        %h2="Medium"
        %p=link_to @asset.medium, "/search?search_type=assets&medium=#{@asset.medium}"
      -else
      
      -if @asset.archive_reference != ""
        %h2="Reference Codes"
        %p=link_to @asset.archive_reference, "/search?search_type=assets&archive_reference=#{@asset.archive_reference}"
      -else
      
      -if @asset.archive_original_code != ""
        %h2="Original Reference"
        %p=link_to @asset.archive_original_code, "/search?search_type=assets&archive_original_code=#{@asset.archive_original_code}"
      -else
      
      -if @asset.people != []
        %h2="people"
        %p
          -@asset.people.each do |person|
            =link_to person.name, "/people/#{person.url}"
            %br
      -else
 
      -if @collections != []
        %h2="collections"
        %p
          -@collections.each do |collection|
            =link_to collection.title, "/collections/#{collection.url}"
            %br
      -else
      
      -if @tags != []
        %h2="tags"
        = raw @tags.collect { |tag| link_to tag.name, "/search?search_type=assets&tags[]=#{tag.name}&tags_combo=any" }.join(", ")
      -else
        
      -if logged_in?
        -if current_user.favorites.where(:asset_id => @asset.id).first != nil
          #favorites
            =render partial: "/favorites/fav_on", locals: {asset: @asset}
        -else
          #favorites
            =render partial: "/favorites/fav_off", locals: {asset: @asset}
