%section.single-asset-view.area.edit-asset
  %section#single-asset.container.clearfix
    =form_for(@asset, url: "/assets/#{@asset.id}", html:{onsubmit:'return formContent()'}) do |f|
      -if @asset.errors.any?
        #error_explanation
          =pluralize(@asset.errors.count, "error")
          prohibited this asset from being saved:
          -@asset.errors.full_messages.each do |msg|
            =msg

      .single-details.single-block
        .single-info
          .field#title
            =f.label :file, "Asset Title"
            =f.text_field :title, value:nil

          .field#description
            =f.label :file, "Asset Description"
            =f.text_field :description, value:nil
          
          .field#video
            =f.label :video, "Video"
            %br
            .filter-toggle
              .filter-radio
                =f.radio_button :video, false, :class => "filter-radio-any"
                =f.label :colour_false, "Image"
                =f.radio_button :video, true, :class => "filter-radio-all"
                =f.label :colour_true, "Video"
              .toggle-wrap
                .toggle-button.asset-colour-toggle
                  .toggle-knob-holder
                    .toggle-knob
                %span.toggle-info
                  Video
          
          .field#video-url
            =f.label :video_url, "Video URL"
            =f.text_field :video_url, value:nil

          .field#file
            =f.label :file, "Upload asset"
            %br
            =f.file_field :file
            
          .actions
            =f.submit "Save and add details", class: "btn"
          %br


