%section.single-asset-view.area
  %section#single-asset.container.clearfix
    .single-img.single-block
      -if @asset.media_type == "image"
        =image_tag(@asset.file.url(:large))
      -elsif @asset.video?
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => @asset.video_url, :class => "video-embed"}
        
    .single-details.single-block
      .single-info
          
        / Title
        -if @asset.title
          =simple_format(@asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
        -else
          Untitled
        
        / Description
        -if @asset.description
          =simple_format(@asset.description.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""))
        -else
          No description
      .single-extra

        / Date
        -if @asset.date_from
          %h2="Date"
          %p
          =link_to @asset.date_from.strftime("%a %b #{@asset.date_from.day.ordinalize}, %Y"), "/search?search_type=assets&on=#{@asset.date_from}"
        -else
      
        / Medium
        -if @asset.medium != "" && @asset.medium != nil
          %h2="Medium"
          %p
            =link_to @asset.medium, "/search?search_type=assets&medium=#{@asset.medium}"
        -else
        
        / Archive reference
        -if @asset.archive_reference != "" && @asset.archive_reference != nil
          %h2="Reference Codes"
          %p
            =link_to @asset.archive_reference, "/search?search_type=assets&archive_reference=#{@asset.archive_reference}"
        -else
        
        / Archive Original Code
        -if @asset.archive_original_code != "" && @asset.archive_original_code != nil
          %h2="Original Reference"
          %p
            =link_to @asset.archive_original_code, "/search?search_type=assets&archive_original_code=#{@asset.archive_original_code}"
        -else
        
        / People
        -if @asset.people != []
          %h2="People"
          %p
            -@asset.people.each do |person|
              =link_to person.name, "/people/#{person.url}"
              %br
        -else

        /Collections
        -if @collections != []
          %h2="Archive Collections"
          %p
            -@collections.each do |collection|
              =link_to collection.title, "/collections/#{collection.url}"
              %br
        -else
      

        / Tags
        -if @tags != []
          %h2="tags"
          = raw @tags.collect { |tag| link_to tag.name, "/search?search_type=assets&tags[]=#{tag.name}&tags_combo=any" }.join(", ")
        -else
        
        /Favorites & add to user colletion
        -if logged_in?
          -if current_user.favorites.where(:asset_id => @asset.id).first != nil
            #favorites
              =render partial: "/favorites/fav_on", locals: {asset: @asset}
          -else
            #favorites
              =render partial: "/favorites/fav_off", locals: {asset: @asset}
           
          -if @user_collections
            .field#collections
              =label :collections, "Add to your Collections"
              %br

              

              =form_tag('', :id => "collection_form") do

                -collection_ids = []
                -@asset.user_collections(current_user).each do |item|
                  -collection_ids.push(item.id)

                =select_tag('collections[]', options_from_collection_for_select(@user_collections, 'id', 'title', collection_ids), {:multiple=>"true", :id => "add-asset-collections", :placeholder => "Collection", :'data-asset-id'=> @asset.id})

                -# =select_tag('collections[]', options_from_collection_for_select(@user_collections, 'id', 'title', @user_collections.map{|c| c.id}), {:multiple=>"true", :id => "add-asset-collections", :placeholder => "Collection", :'data-asset-id'=> @asset.id})
              %br
  %hr
  %aside#related-content
