.dashboard {
  &__button {
    margin-right: 15px;
    margin-bottom: 20px;
  }

  &__table {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  th {
    text-align: left;
  }
}
