.signup {
  font-size: 14px;

  &__col {
    display: block;
    margin-bottom: 20px;
    max-width: 400px;

    @media (min-width:750px) {
      float: left;
      width: 50%;
      padding-right: 20px;
    }
  }

  &__full-col {
    clear: both;
    width: 100%;
  }

  &__input {
    width: 100%;
    margin-bottom: 5px;
    .field_with_errors & {
      border: 1px solid red;
    }
  }

  &__label {
    display: block;
    color: #999;
  }

  &__checkbox {
    margin-bottom: 20px;
    display: block;
  }

  &__error {
    color: red;
    font-size: 12px;
  }
}
