body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
/*   font-family: $base-font-family; */
  // font-family: 'Proxima Nova';
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  @include fs($base-font-size);
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
/*   font-family: $header-font-family; */
  // font-family: 'Proxima Nova';
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  @include fs($base-font-size * 2.25);
}

#headings {
/*   font-size: 3.6rem; */
}

h2 {
  @include fs($base-font-size * 2); // 16 * 2 = 32px
}

h3 {
  @include fs($base-font-size * 1.75); // 16 * 1.75 = 28px
}

h4 {
  @include fs($base-font-size * 1.5); // 16 * 1.5 = 24px
}

h5 {
  @include fs($base-font-size * 1.25); // 16 * 1.25 = 20px
}

h6 {
  @include fs($base-font-size);
}

.big-text {
  @include fsp(24);
  margin-bottom: 20px;
  font-weight: 800;
  max-width: 980px;

  @media (min-width: 480px) {
    @include fsp(36);
    margin-bottom: 30px;
  }

  @media (min-width: 760px) {
    @include fsp(58);
    margin-bottom: 40px;
  }
}

p {
  margin: 0 0 ($base-line-height * .5);
}

p.big {
  @include fs($base-font-size * 1.25); // 16 * 1.25 = 20px
}

p.big.quote{
  @include fs($base-font-size * 2);
  text-align:center;
  max-width: 800px;
  margin: 0 auto;
}

a {
  @include transition(color 0.1s linear);
  text-decoration: none;
  color: $blue;
/*   color: $base-link-color; */
  text-decoration: none;

  &:hover {
/*     color: $hover-link-color; */
    @extend a;
    text-decoration: underline;
  }

  &:visited {
    @extend a;
  }

  &:active, &:focus {
/*     color: $hover-link-color; */
    outline: none;
  }
}



hr {
  border-bottom: 1px solid #222;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
