/*!
 * froala_editor v2.9.3 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2019 Froala Labs
 */


.clearfix::after {
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.hide-by-clipping {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.royal-theme.fr-box.fr-basic .fr-element {
  color: #000000;
  padding: 16px;
  overflow-x: auto;
  min-height: 52px;
}
.royal-theme .fr-element {
  -webkit-user-select: auto;
}
.royal-theme.fr-box a.fr-floating-btn {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  height: 32px;
  width: 32px;
  background: #ffffff;
  color: #553982;
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  left: 0;
  top: 0;
  line-height: 32px;
  border: none;
}
.royal-theme.fr-box a.fr-floating-btn svg {
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  fill: #553982;
}
.royal-theme.fr-box a.fr-floating-btn i,
.royal-theme.fr-box a.fr-floating-btn svg {
  font-size: 14px;
  line-height: 32px;
}
.royal-theme.fr-box a.fr-floating-btn:hover {
  background: #9365b8;
}
.royal-theme.fr-box a.fr-floating-btn:hover svg {
  fill: #ffffff;
}
.royal-theme .fr-wrapper .fr-placeholder {
  font-size: 12px;
  color: #aaaaaa;
  top: 0;
  left: 0;
  right: 0;
}
.royal-theme .fr-wrapper ::-moz-selection {
  background: #b5d6fd;
  color: #000000;
}
.royal-theme .fr-wrapper ::selection {
  background: #b5d6fd;
  color: #000000;
}
.royal-theme.fr-box.fr-basic .fr-wrapper {
  background: #ffffff;
  border: 0px;
  border-top: 0;
  top: 0;
  left: 0;
}
.royal-theme.fr-box.fr-basic.fr-top .fr-wrapper {
  border-top: 0;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme.fr-box.fr-basic.fr-bottom .fr-wrapper {
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
}
@media (min-width: 992px) {
  .royal-theme .fr-box.fr-document .fr-wrapper .fr-element {
    margin: auto;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  }
}
.royal-theme .fr-sticky-on.fr-sticky-ios {
  left: 0;
  right: 0;
}
.royal-theme.fr-box .fr-counter {
  color: #cccccc;
  background: #ffffff;
  border-top: solid 1px #ebebeb;
  border-left: solid 1px #ebebeb;
  border-radius: 2px 0 0 0;
  -moz-border-radius: 2px 0 0 0;
  -webkit-border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-box.fr-rtl .fr-counter {
  right: auto;
  border-right: solid 1px #ebebeb;
  border-radius: 0 2px 0 0;
  -moz-border-radius: 0 2px 0 0;
  -webkit-border-radius: 0 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme textarea.fr-code {
  background: #ffffff;
  color: #000000;
}
.royal-theme.fr-box.fr-code-view.fr-inline {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch {
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  color: #553982;
  -moz-outline: 0;
  outline: 0;
  border: 0;
  padding: 12px 12px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
}
.royal-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch i {
  font-size: 14px;
  width: 14px;
}
.royal-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch.fr-desktop:hover {
  background: #ebebeb;
}
.royal-theme.fr-popup .fr-colors-tabs {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme.fr-popup .fr-colors-tabs .fr-colors-tab {
  color: #553982;
  padding: 8px 0;
}
.royal-theme.fr-popup .fr-colors-tabs .fr-colors-tab:hover,
.royal-theme.fr-popup .fr-colors-tabs .fr-colors-tab:focus {
  color: #553982;
}
.royal-theme.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]::after {
  bottom: 0;
  left: 0;
  background: #553982;
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
}
.royal-theme.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
  color: #553982;
}
.royal-theme.fr-popup .fr-color-hex-layer .fr-input-line {
  padding: 8px 0 0;
}
.royal-theme.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command {
  background-color: #553982;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command:hover {
  background-color: #3e295f;
}
.royal-theme.fr-popup .fr-color-set {
  line-height: 0;
}
.royal-theme.fr-popup .fr-color-set > span > i,
.royal-theme.fr-popup .fr-color-set > span > svg {
  bottom: 0;
  left: 0;
}
.royal-theme.fr-popup .fr-color-set > span .fr-selected-color {
  color: #ffffff;
  font-weight: 400;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.royal-theme.fr-popup .fr-color-set > span:hover,
.royal-theme.fr-popup .fr-color-set > span:focus {
  outline: 1px solid #553982;
}
.royal-theme .fr-drag-helper {
  background: #553982;
  z-index: 2147483640;
}
.royal-theme.fr-popup .fr-link:focus {
  outline: 0;
  background: #ebebeb;
}
.royal-theme.fr-popup .fr-file-upload-layer {
  border: dashed 2px #b7bdc0;
  padding: 25px 0;
}
.royal-theme.fr-popup .fr-file-upload-layer:hover {
  background: #ebebeb;
}
.royal-theme.fr-popup .fr-file-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #553982;
}
.royal-theme.fr-popup .fr-file-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme.fr-popup .fr-file-progress-bar-layer > h3 {
  margin: 10px 0;
}
.royal-theme.fr-popup .fr-file-progress-bar-layer > div.fr-loader {
  background: #ccc4da;
}
.royal-theme.fr-popup .fr-file-progress-bar-layer > div.fr-loader span {
  background: #553982;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.royal-theme.fr-popup .fr-file-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.royal-theme.fr-box.fr-fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tr {
  border: 0;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody tr {
  border-bottom: solid 1px #ebebeb;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody td:first-child {
  color: #8874a8;
}
.royal-theme .fr-image-resizer {
  border: solid 1px #553982;
}
.royal-theme .fr-image-resizer .fr-handler {
  background: #553982;
  border: solid 1px #ffffff;
}
.royal-theme .fr-image-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.royal-theme .fr-image-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.royal-theme .fr-image-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.royal-theme .fr-image-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.royal-theme .fr-image-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .royal-theme .fr-image-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .royal-theme .fr-image-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .royal-theme .fr-image-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .royal-theme .fr-image-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .royal-theme .fr-image-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.royal-theme.fr-image-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme.fr-popup .fr-image-upload-layer {
  border: dashed 2px #b7bdc0;
  padding: 25px 0;
}
.royal-theme.fr-popup .fr-image-upload-layer:hover {
  background: #ebebeb;
}
.royal-theme.fr-popup .fr-image-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #553982;
}
.royal-theme.fr-popup .fr-image-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme.fr-popup .fr-image-progress-bar-layer > h3 {
  margin: 10px 0;
}
.royal-theme.fr-popup .fr-image-progress-bar-layer > div.fr-loader {
  background: #ccc4da;
}
.royal-theme.fr-popup .fr-image-progress-bar-layer > div.fr-loader span {
  background: #553982;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.royal-theme.fr-popup .fr-image-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.royal-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more,
.royal-theme.fr-modal-head .fr-modal-head-line svg.fr-modal-more {
  -webkit-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -moz-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -ms-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -o-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
}
.royal-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more.fr-not-available,
.royal-theme.fr-modal-head .fr-modal-head-line svg.fr-modal-more.fr-not-available {
  opacity: 0;
  width: 0;
  padding: 12px 0;
}
.royal-theme.fr-modal-head .fr-modal-tags a {
  opacity: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #553982;
  -webkit-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
}
.royal-theme.fr-modal-head .fr-modal-tags a.fr-selected-tag {
  background: #d6d6d6;
}
.royal-themediv.fr-modal-body .fr-preloader {
  margin: 50px auto;
}
.royal-themediv.fr-modal-body div.fr-image-list {
  padding: 0;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::after {
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  background: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::before {
  color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty {
  background: #cccccc;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty::after {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container img {
  -webkit-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img,
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  margin: 0;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img {
  background: #b8312f;
  color: #ffffff;
}
.royal-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
  background: #ffffff;
  color: #553982;
}
.royal-theme.royal-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a:hover {
  background: #ebebeb;
}
.royal-theme.royal-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a.fr-selected-tag {
  background: #d6d6d6;
}
.royal-theme.royal-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img:hover {
  background: #bf4644;
  color: #ffffff;
}
.royal-theme.royal-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img:hover {
  background: #ebebeb;
}
.royal-theme .fr-line-breaker {
  border-top: 1px solid #553982;
}
.royal-theme .fr-line-breaker a.fr-floating-btn {
  left: calc(50% - (32px / 2));
  top: -16px;
}
.royal-theme .fr-qi-helper {
  padding-left: 16px;
}
.royal-theme .fr-qi-helper a.fr-btn.fr-floating-btn {
  color: #553982;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-special-characters-modal .fr-special-character {
  border: 1px solid #cccccc;
}
.royal-theme .fr-element table td.fr-selected-cell,
.royal-theme .fr-element table th.fr-selected-cell {
  border: 1px double #553982;
}
.royal-theme .fr-table-resizer div {
  border-right: 1px solid #553982;
}
.royal-theme.fr-popup .fr-table-colors-hex-layer .fr-input-line {
  padding: 8px 0 0;
}
.royal-theme.fr-popup .fr-table-colors-hex-layer .fr-action-buttons button {
  background-color: #553982;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-popup .fr-table-colors-hex-layer .fr-action-buttons button:hover {
  background-color: #3e295f;
}
.royal-theme.fr-popup .fr-table-size .fr-select-table-size {
  line-height: 0;
}
.royal-theme.fr-popup .fr-table-size .fr-select-table-size > span {
  padding: 0px 4px 4px 0;
}
.royal-theme.fr-popup .fr-table-size .fr-select-table-size > span > span {
  border: 1px solid #dddddd;
}
.royal-theme.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
  background: rgba(85, 57, 130, 0.3);
  border: solid 1px #553982;
}
.royal-theme.fr-popup .fr-table-colors {
  line-height: 0;
}
.royal-theme.fr-popup .fr-table-colors > span > i {
  bottom: 0;
  left: 0;
}
.royal-theme.fr-popup .fr-table-colors > span:focus {
  outline: 1px solid #553982;
}
.royal-theme .fr-element .fr-video::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.royal-theme.fr-box .fr-video-resizer {
  border: solid 1px #553982;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler {
  background: #553982;
  border: solid 1px #ffffff;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .royal-theme.fr-box .fr-video-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .royal-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.royal-theme.fr-popup .fr-video-upload-layer {
  border: dashed 2px #b7bdc0;
  padding: 25px 0;
}
.royal-theme.fr-popup .fr-video-upload-layer:hover {
  background: #ebebeb;
}
.royal-theme.fr-popup .fr-video-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #553982;
}
.royal-theme.fr-popup .fr-video-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme.fr-popup .fr-video-progress-bar-layer > h3 {
  margin: 10px 0;
}
.royal-theme.fr-popup .fr-video-progress-bar-layer > div.fr-loader {
  background: #ccc4da;
}
.royal-theme.fr-popup .fr-video-progress-bar-layer > div.fr-loader span {
  background: #553982;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.royal-theme.fr-popup .fr-video-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.royal-theme.fr-video-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme .fr-view span[style~="color:"] a {
  color: inherit;
}
.royal-theme .fr-view strong {
  font-weight: 700;
}
.royal-theme .fr-view table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.royal-theme .fr-view table td,
.royal-theme .fr-view table th {
  border: 1px solid #dddddd;
}
.royal-theme .fr-view table th {
  background: #e6e6e6;
}
.royal-theme .fr-view[dir="rtl"] blockquote {
  border-right: solid 2px #5e35b1;
  margin-right: 0;
}
.royal-theme .fr-view[dir="rtl"] blockquote blockquote {
  border-color: #00bcd4;
}
.royal-theme .fr-view[dir="rtl"] blockquote blockquote blockquote {
  border-color: #43a047;
}
.royal-theme .fr-view blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  color: #5e35b1;
}
.royal-theme .fr-view blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.royal-theme .fr-view blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.royal-theme .fr-view span.fr-emoticon {
  line-height: 0;
}
.royal-theme .fr-view span.fr-emoticon.fr-emoticon-img {
  font-size: inherit;
}
.royal-theme .fr-view .fr-text-bordered {
  padding: 10px 0;
}
.royal-theme .fr-view .fr-class-highlighted {
  background-color: #ffff00;
}
.royal-theme .fr-view .fr-img-caption .fr-img-wrap {
  margin: auto;
}
.royal-theme .fr-view .fr-img-caption .fr-img-wrap img {
  margin: auto;
}
.royal-theme .fr-view .fr-img-caption .fr-img-wrap > span {
  margin: auto;
}
.royal-theme .fr-element .fr-embedly::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.royal-theme.fr-box .fr-embedly-resizer {
  border: solid 1px #553982;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-font-awesome-modal .fr-font-awesome-title {
  border-bottom: solid 1px #f0f0f0;
}
.royal-theme .tui-image-editor-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.royal-theme .tui-editor-cancel-btn {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.royal-theme .tui-editor-save-btn {
  color: #ffffff;
}
.royal-theme .examples-variante > a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.royal-theme .sc-cm-holder > .sc-cm {
  border-top: 5px solid #553982 !important;
}
.royal-theme .sc-cm__item_dropdown:hover > a,
.royal-theme .sc-cm a:hover {
  background-color: #ebebeb !important;
}
.royal-theme .sc-cm__item_active > a,
.royal-theme .sc-cm__item_active > a:hover,
.royal-theme .sc-cm a:active,
.royal-theme .sc-cm a:focus {
  background-color: #d6d6d6 !important;
}
.royal-theme .sc-cm-holder > .sc-cm:before {
  background-color: #ebebeb !important;
}
.royal-theme .fr-tooltip {
  top: 0;
  left: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  background: #222222;
  color: #ffffff;
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
}
.royal-theme.fr-toolbar .fr-command.fr-btn,
.royal-theme.fr-popup .fr-command.fr-btn {
  color: #553982;
  -moz-outline: 0;
  outline: 0;
  border: 0;
  margin: 0px 2px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  padding: 0;
  width: 38px;
  height: 38px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn::-moz-focus-inner,
.royal-theme.fr-popup .fr-command.fr-btn::-moz-focus-inner {
  border: 0;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-btn-text,
.royal-theme.fr-popup .fr-command.fr-btn.fr-btn-text {
  width: auto;
}
.royal-theme.fr-toolbar .fr-command.fr-btn i,
.royal-theme.fr-popup .fr-command.fr-btn i,
.royal-theme.fr-toolbar .fr-command.fr-btn svg,
.royal-theme.fr-popup .fr-command.fr-btn svg {
  font-size: 14px;
  width: 14px;
  margin: 12px 12px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn span,
.royal-theme.fr-popup .fr-command.fr-btn span {
  font-size: 14px;
  line-height: 17px;
  min-width: 34px;
  height: 17px;
  padding: 0 2px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn img,
.royal-theme.fr-popup .fr-command.fr-btn img {
  margin: 12px 12px;
  width: 14px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-active,
.royal-theme.fr-popup .fr-command.fr-btn.fr-active {
  color: #ffffff;
  background: #9365b8;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-selection {
  width: auto;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown i,
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown span,
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown img,
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown svg,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown svg {
  margin-left: 8px;
  margin-right: 16px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
  color: #553982;
  background: #d6d6d6;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
  background: #d6d6d6 !important;
  color: #553982 !important;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus::after,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus::after {
  border-top-color: #553982 !important;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.royal-theme.fr-popup .fr-command.fr-btn.fr-dropdown::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #553982;
  right: 4px;
  top: 17px;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-disabled,
.royal-theme.fr-popup .fr-command.fr-btn.fr-disabled {
  color: #b7bdc0;
}
.royal-theme.fr-toolbar .fr-command.fr-btn.fr-disabled::after,
.royal-theme.fr-popup .fr-command.fr-btn.fr-disabled::after {
  border-top-color: #b7bdc0 !important;
}
.royal-theme.fr-toolbar.fr-disabled .fr-btn,
.royal-theme.fr-popup.fr-disabled .fr-btn,
.royal-theme.fr-toolbar.fr-disabled .fr-btn.fr-active,
.royal-theme.fr-popup.fr-disabled .fr-btn.fr-active {
  color: #b7bdc0;
}
.royal-theme.fr-toolbar.fr-disabled .fr-btn.fr-dropdown::after,
.royal-theme.fr-popup.fr-disabled .fr-btn.fr-dropdown::after,
.royal-theme.fr-toolbar.fr-disabled .fr-btn.fr-active.fr-dropdown::after,
.royal-theme.fr-popup.fr-disabled .fr-btn.fr-active.fr-dropdown::after {
  border-top-color: #b7bdc0;
}
.royal-theme.fr-desktop .fr-command:hover,
.royal-theme.fr-desktop .fr-command:focus,
.royal-theme.fr-desktop .fr-command.fr-btn-hover,
.royal-theme.fr-desktop .fr-command.fr-expanded {
  outline: 0;
  color: #553982;
  background: #ebebeb;
}
.royal-theme.fr-desktop .fr-command:hover::after,
.royal-theme.fr-desktop .fr-command:focus::after,
.royal-theme.fr-desktop .fr-command.fr-btn-hover::after,
.royal-theme.fr-desktop .fr-command.fr-expanded::after {
  border-top-color: #553982 !important;
}
.royal-theme.fr-desktop .fr-command.fr-selected {
  color: #553982;
  background: #d6d6d6;
}
.royal-theme.fr-desktop .fr-command.fr-active:hover,
.royal-theme.fr-desktop .fr-command.fr-active:focus,
.royal-theme.fr-desktop .fr-command.fr-active.fr-btn-hover,
.royal-theme.fr-desktop .fr-command.fr-active.fr-expanded {
  color: #553982;
  background: #ebebeb;
}
.royal-theme.fr-desktop .fr-command.fr-active.fr-selected {
  color: #553982;
  background: #d6d6d6;
}
.royal-theme.fr-toolbar.fr-mobile .fr-command.fr-blink,
.royal-theme.fr-popup.fr-mobile .fr-command.fr-blink {
  background: #9365b8;
}
.royal-theme .fr-command.fr-btn.fr-options {
  width: 16px;
  margin-left: -5px;
}
.royal-theme .fr-command.fr-btn.fr-options.fr-btn-hover,
.royal-theme .fr-command.fr-btn.fr-options:hover,
.royal-theme .fr-command.fr-btn.fr-options:focus {
  border-left: solid 1px #fafafa;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu {
  right: auto;
  bottom: auto;
  height: auto;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu.test-height .fr-dropdown-wrapper {
  height: auto;
  max-height: 275px;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
  background: #ffffff;
  padding: 0;
  margin: auto;
  -webkit-transition: max-height 0.2s ease 0s;
  -moz-transition: max-height 0.2s ease 0s;
  -ms-transition: max-height 0.2s ease 0s;
  -o-transition: max-height 0.2s ease 0s;
  margin-top: 0;
  max-height: 0;
  height: 0;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content {
  overflow: auto;
  max-height: 275px;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
  margin: 0;
  padding: 0;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li {
  padding: 0;
  margin: 0;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
  color: inherit;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
  background: #d6d6d6;
}
.royal-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-disabled {
  color: #b7bdc0;
}
.royal-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
}
.royal-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu .fr-dropdown-wrapper {
  height: auto;
  max-height: 275px;
}
.royal-theme .fr-bottom > .fr-command.fr-btn + .fr-dropdown-menu {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-modal {
  color: #553982;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483640;
}
.royal-theme.fr-modal.fr-middle .fr-modal-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.royal-theme.fr-modal .fr-modal-wrapper {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 20px auto;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  border: 0px;
  border-top: 5px solid #553982;
}
@media (min-width: 768px) and (max-width: 991px) {
  .royal-theme.fr-modal .fr-modal-wrapper {
    margin: 30px auto;
  }
}
@media (min-width: 992px) {
  .royal-theme.fr-modal .fr-modal-wrapper {
    margin: 50px auto;
  }
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-head {
  background: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  border-bottom: 0px;
  -webkit-transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -ms-transition: height 0.2s ease 0s;
  -o-transition: height 0.2s ease 0s;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-head .fr-modal-close {
  color: #553982;
  top: 0;
  right: 0;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}
.royal-theme.fr-modal .fr-modal-wrapper .fr-modal-head h4 {
  margin: 0;
  font-weight: 400;
}
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body:focus {
  outline: 0;
}
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body button.fr-command {
  color: #553982;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body button.fr-command:hover,
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body button.fr-command:focus {
  background: #ebebeb;
  color: #553982;
}
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body button.fr-command:active {
  background: #d6d6d6;
  color: #553982;
}
.royal-theme.fr-modal .fr-modal-wrapper div.fr-modal-body button::-moz-focus-inner {
  border: 0;
}
.royal-theme.royal-theme.fr-desktop .fr-modal-wrapper .fr-modal-head i:hover {
  background: #ebebeb;
}
.royal-theme.fr-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
}
.royal-theme.fr-popup {
  color: #553982;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  border-top: 5px solid #553982;
}
.royal-theme.fr-popup .fr-input-focus {
  background: #f5f5f5;
}
.royal-theme.fr-popup.fr-above {
  border-top: 0;
  border-bottom: 5px solid #553982;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme.fr-popup .fr-input-line {
  padding: 8px 0;
}
.royal-theme.fr-popup .fr-input-line input[type="text"],
.royal-theme.fr-popup .fr-input-line textarea {
  margin: 0px 0 1px 0;
  border-bottom: solid 1px #bdbdbd;
  color: #553982;
}
.royal-theme.fr-popup .fr-input-line input[type="text"]:focus,
.royal-theme.fr-popup .fr-input-line textarea:focus {
  border-bottom: solid 2px #553982;
}
.royal-theme.fr-popup .fr-input-line input + label,
.royal-theme.fr-popup .fr-input-line textarea + label {
  top: 0;
  left: 0;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  background: #ffffff;
}
.royal-theme.fr-popup .fr-input-line input.fr-not-empty:focus + label,
.royal-theme.fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
  color: #553982;
}
.royal-theme.fr-popup .fr-input-line input.fr-not-empty + label,
.royal-theme.fr-popup .fr-input-line textarea.fr-not-empty + label {
  color: #808080;
}
.royal-theme.fr-popup .fr-buttons {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  padding: 0 2px;
  line-height: 0;
  border-bottom: 0px;
}
.royal-theme.fr-popup .fr-layer {
  width: 225px;
}
@media (min-width: 768px) {
  .royal-theme.fr-popup .fr-layer {
    width: 300px;
  }
}
.royal-theme.fr-popup .fr-action-buttons button.fr-command {
  color: #553982;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.royal-theme.fr-popup .fr-action-buttons button.fr-command:hover,
.royal-theme.fr-popup .fr-action-buttons button.fr-command:focus {
  background: #ebebeb;
  color: #553982;
}
.royal-theme.fr-popup .fr-action-buttons button.fr-command:active {
  background: #d6d6d6;
  color: #553982;
}
.royal-theme.fr-popup .fr-action-buttons button::-moz-focus-inner {
  border: 0;
}
.royal-theme.fr-popup .fr-checkbox span {
  border: solid 1px #553982;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
}
.royal-theme.fr-popup .fr-checkbox input {
  margin: 0;
  padding: 0;
}
.royal-theme.fr-popup .fr-checkbox input:checked + span {
  background: #553982;
  border-color: #553982;
}
.royal-theme.fr-popup .fr-checkbox input:focus + span {
  border-color: #553982;
}
.royal-theme.fr-popup.fr-rtl .fr-input-line input + label,
.royal-theme.fr-popup.fr-rtl .fr-input-line textarea + label {
  left: auto;
  right: 0;
}
.royal-theme.fr-popup .fr-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #553982;
  top: -9px;
  margin-left: -5px;
}
.royal-theme.fr-popup.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top: 5px solid #553982;
}
.royal-theme.fr-toolbar {
  color: #553982;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  border: 0px;
  border-top: 5px solid #553982;
}
.royal-theme.fr-toolbar.fr-inline .fr-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #553982;
  top: -9px;
  margin-left: -5px;
}
.royal-theme.fr-toolbar.fr-inline.fr-above {
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  border-bottom: 5px solid #553982;
  border-top: 0;
}
.royal-theme.fr-toolbar.fr-inline.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top-color: inherit;
  border-top-width: 5px;
}
.royal-theme.fr-toolbar.fr-top {
  top: 0;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme.fr-toolbar.fr-bottom {
  bottom: 0;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.royal-theme .fr-separator {
  background: #ebebeb;
}
.royal-theme .fr-separator.fr-vs {
  height: 34px;
  width: 1px;
  margin: 2px;
}
.royal-theme .fr-separator.fr-hs {
  height: 1px;
  width: calc(100% - (2 * 2px));
  margin: 0 2px;
}
