%article#t.gallery-item.gallery-full-item.flex-wrap.flex-center{:id => asset.id}
  
  -# Gallery Display
  .gallery-img.flex-stretch.flex-wrap.flex-center
    -#Thumbnails
    -if asset.media_type == "image"
      =image_tag(asset.file.url(:medium))
    -elsif asset.video?
      =asset.video_url
      #=image_tag(asset.thumbnail_url)
      
  
  -# Gallery popup    
  -if asset.media_type == "image"
    =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
      -if asset.title == nil
        [untitled]
      -else
        =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
      %section.container.clearfix
  -elsif asset.video?
    =link_to(asset_lightbox_path(asset.url), class: "gallery-overlay gallery-popup") do
      -if asset.title == nil
        [untitled]
      -else
        =simple_format(asset.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", ""), {}, wrapper_tag: "h1")
      %section.container.clearfix
