%article#t.gallery-item.gallery-full-item.collection-item{:id => collection.id}
  .gallery-img
    =collection.front_image ? image_tag(collection.front_image.file.url(:medium)) : ""

  =link_to(collection_path(collection.url), class: "collection-overlay") do
    .collection-item-text
      %span.collection-item-label Collection
      =simple_format(collection.title.gsub("<br />\r\r", "\r").gsub("<p>", "").gsub("</p>", "")+" →", {}, wrapper_tag: "h1")
