%article#t.gallery-item.gallery-full-item.collection-item{:id => person.id}
  .gallery-img
    =person.front_image ? image_tag(person.front_image.file.url(:medium)) : ""

  =link_to(person_path(person.url), class: "person-overlay") do
    .collection-item-text
      %span.collection-item-label Person
      =simple_format(person.name)
