/* Buttons */

a.btn {
  background-color: $blue;
  color: #fff;
  text-decoration: none;
  @include transition(background-color .1s linear);
  &:hover {
    background-color: $blue2;
  }
}

.btn {
  @extend a.btn;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  -webkit-font-smoothing: antialiased;
}
a.btn-delete{
  background-color: $red2;
  color: #fff;
  text-decoration: none;
  line-height: normal;
  @include transition(background-color .1s linear);
  &:hover {
    background-color: $red2;
  }
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  -webkit-font-smoothing: antialiased;
}

.btn-big {
  @include fsp(20);
  padding: 15px 30px;
}

.btn-sub-text {
  display: block;
}

.btn-text-top {
  display: inline-block;
  vertical-align: middle;
  @include fsp(14);
  margin-left: 10px;
}



.btn-fav {
  background-image: url(fav-stars.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.btn-fav-on {
  background-position: 8px -28px;
}

.btn-fav-off {
  background-position: 8px 9px;
}

/* Fields & inputs*/

.input-search {
  @include fsp(20);
  padding: 14px 16px;
  line-height: 1.5;
  box-sizing: border-box;
  border: 1px inset #e6e6e6;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
    border-color: $blue;
    border-style: solid;
  }
}

.input-search-sm {
  @include fsp(16);
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  border-right-color: #f2f2f2;
  &:focus {
    border-right-color: #f2f2f2;
  }
}

.search-btn {
  background-color: #000;
  background-image: url(sprites-temp-02.png);
  background-position: -255px 17px;
  border: none;
  line-height: 1.5;
  font-size: 20px;
  padding: 15px 0;
  vertical-align: top;
  width: 60px;
  background-repeat: no-repeat;
}

.search-btn-sm {
  background-image: url(sprites-temp-02.png);
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 36px;
  background-color: #f2f2f2;
  height: 36px;
  background-position: -65px -65px;
  background-repeat: no-repeat;
  border: 1px inset #e6e6e6;
  border-left: none;
}

.input-search-sm:focus+.search-btn-sm {
  border: 1px solid $blue;
  border-left: none;
}

#favorites {
  margin: 15px 0 20px;
}

.editable:focus {
  background: #fff;
  color: #000;
}

.select2-container {
  width: 100%;
}
