/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require mediaelement_rails
 *= require magnific-popup

 */


/*.container {
  position:relative;
  margin:0 auto;
  height:auto !important;
  height:100%;
  min-height:100%;
}

.inner{
  width:960px;
  margin:0 auto;
}

.header{

}

.content{
  padding-bottom:150px;
}

.footer{
 position:absolute;
 width:100%;
 bottom:0;
 
}                 */

@import 'quill.snow';


/* CSS Normalize & HTML5 Boilerplate */
@import "normalize";
@import "boilerplate";

/* Core */
@import "bourbon";
@import "neat";
@import "variables";
@import "mixins";

/* Styled patterns and elements */

/* Views etc. */
@import "partials/*";
@import "elements";
@import "test";
@import "media";
@import "static_text";

html,body {
/*   margin:0; */
/*   padding:0; */
  /* height:100%; */ /* needed for container min-height */
  background:#fff;
}

.containerOLD {
  position:relative; /* needed for footer positioning*/
  margin:0 auto; /* center, not in IE5 */
  width:960px;
  background:#f0f0f0;
  
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}

.header {
  padding:1em;
  border-bottom:6px double gray;
}

.header p {
  font-style:italic;
  font-size:1.1em;
  margin:0;
} 




.footer {

  width:100%;

  background:#ddd;
  border-top:6px double gray;

}

