/* Helpers */

%box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%inline {
  display: inline-block;
}

%nomarg {
  margin: 0;
}

// Convert font-size pixel value to pixels and rems
@mixin fsp($px) { 
  font-size: #{ strip-units($px)}px;
  font-size: #{ strip-units($px / 16)}rem;
}

// Convert font-size em value to pixels and rems
@mixin fs($ems) {
  font-size: #{ strip-units($ems)*16}px;
  font-size: #{ strip-units($ems)}rem;
}

/* Media Queries */

@mixin bp($point) {

  @if $point == xsmall {
    @media only screen and #{$bp-xsmall} { @content; }
  }
  @else if $point == small {
    @media only screen and #{$bp-small} { @content; }
  }
  @else if $point == med {
    @media only screen and #{$bp-med} { @content; }
  }
  @else if $point == big {
    @media only screen and #{$bp-big}  { @content; }
  }
  @else if $point { // allows custom breakpoints
    @media only screen and (min-width: $point) { @content; }
  }
}

@mixin bh($height) {
   @if $height == short {
    @media only screen and #{$bh-short} { @content; }
  }
}