/* Margin settings */

.nomp{
  margin:0;
  padding:0;
}

.three-margin {
  margin: 3px 3px 3px 3px;
}

.five-margin {
  margin: 5px 5px 5px 5px;
}

.ten-margin {
  margin: 10px 10px 10px 10px;
}

.twenty-margin{
  margin: 20px;
}

.top-five-margin {
  margin: 5px 0 0 0;
}

.top-left-ten-margin{
  margin: 5px 0 0 5px;
}

.top-ten-margin {
  margin: 10px 0 0 0;
}

.top-twenty-margin {
  margin: 20px 0 0 0;
}

.top-thirty-margin {
  margin: 30px 0 0 0;
}

.bottom-five-margin{
  margin: 0 0 5px 0;
}
.bottom-ten-margin{
  margin: 0 0 10px 0px;
}

.bottom-twenty-margin{
  margin: 0 0 20px 0px;
}

.top-hundred-margin{
  margin: 100px 0 0 0;
}

.top-fifty-margin{
  margin: 50px 0 0 0;
}

.left-ten-margin{
  margin: 0 0 0 10px;
}

.left-five-margin{
  margin: 0 0 0 5px;
}

.left-eight-margin{
  margin: 0 0 0 8px;
}

.right-ten-margin{
  margin: 0 10px 0 0px;
}

.right-five-margin{
  margin: 0 5px 0 0px;
}

.right-eight-margin{
  margin: 0 8px 0 0px;
}

.top-bottom-five-margin{
  margin: 10px 0 10px 0;
}

.top-bottom-ten-margin{
  margin: 5px 0 5px 0;
}

.top-bottom-twenty-margin{
  margin: 20px 0 20px 0;
}

/* Padding */

.two-padding{
  padding:2px;
}

.three-padding{
  padding:3px;
}

.five-padding{
  padding:5px;
}

.ten-padding{
  padding:10px;
}

.fifteen-padding{
  padding:15px;
}

.twenty-padding{
  padding:20px;
}

.left-ten-padding{
  padding: 0 0 0 10px;
}

.left-five-padding{
  padding: 0 0 0 5px;
}

.left-eight-padding{
  padding: 0 0 0 8px;
}

.right-ten-padding{
  padding: 0 10px 0 0px;
}

.right-five-padding{
  padding: 0 5px 0 0px;
}

.right-eight-padding{
  padding: 0 8px 0 0px;
}

.top-bottom-ten-padding{
  padding: 10px 0 10px 0;
}
.top-bottom-five-padding{
  padding: 5px 0 5px 0;
}
.bottom-ten-padding{
  padding: 0 0 10px 0;
}

.bottom-five-padding{
  padding: 0 0 5px 0;
}

.top-bottom-twenty-padding{
  padding: 20px 0 20px 0;
}

/* Clear Divs */

.clear-both{
  clear:both
}

.clear-right{
  clear:right;
}

.clear-left{
  clear:left;
}

/* Dividers */

.hdividertop {
  border-top:1px solid #ddd;
}
.hdividerbottom {
  border-bottom:1px solid #ddd;
}

.hdividertopdotted {
  border-top:1px dotted #ddd;
}
.hdividerbottomdotted {
  border-bottom:1px dotted #ddd;
}

.hdividerboth {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

.vdividerleft {
  border-left:1px solid #ddd;
}

.y25px {
  min-height:25px;
}

.y50px {
  min-height:50px;
}

.y75px {
  min-height:75px;
}

.y100px {
  min-height:100px;
}

.y150px {
  min-height:150px;
}

.y200px {
  min-height:200px;
}

.y300px {
  min-height:300px;
}

/* Block Decorations */

.box-shadow{
  -webkit-box-shadow: 2px 1px 10px rgba(50, 50, 50, 0.50);
  -moz-box-shadow:    2px 1px 10px rgba(50, 50, 50, 0.50);
  box-shadow:         2px 1px 10px rgba(50, 50, 50, 0.50);
}


.opacity{
  opacity:0.5;
}

.twenty-rounded{
   -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.full-div{
  width:940px;
}


.border {
  border: 1px solid #ddd;
}

.grey {
  background-color:#aaa;
}

.light-grey {
  background-color:#ddd;
}

.dark-grey{
  background-color:#555;
}  

.black{
  background-color:#000;
  color:#fff;
}

/* Lists */

.inline-list{
  display:block;
  list-style:none;
  margin:0px;
  padding:0px;
}

.list-header {
  
}
.inline-list li{
  display:inline-block;
  list-style:none;
  margin:0px;
  padding:0px;
}

/* Forms */

.inline-form{
  
}

.inline-form label{
  display: inline-block;
  width:45px;
  font-weight:bold;
}

.inline-form select{
  display: inline-block;
  
}

.ad_attributes select{
  display:inline-block;
  width:150px;
}

/* Block Sizes */

.h50{
  height:50px;
}

.h25{
  height:25px;
}

.w10{
  width:10px;
}

.w25{
  width:25px;
}

.w30{
  width:30px;
}

.w45{
  width:45px;
}

.w50{
  width:50px;
}

.w55{
  width:55px;
}

.w75{
  width:75px;
}

.w88{
  width:88px;
}

.w90{
  width:90px;
}

.w175{
  width:175px;
}

.w300{
  width:300px;
}

.w350{
  width:350px;
}

.w375{
  width:375px;
}

.w400{
  width:405px;
}

.w440{
  width:440px;
}

.w450{
  width:450px;
}

.w500{
  width:500px;
}

.w550{
  width:550px;
}

.w600{
  width:600px;
}

.w620{
  width:620px;
}

.w200{
  width:200px;
}


.w225{
  width:225px;
}

.w230{
  width:230px;
}

.w275{
  width:275px;
}

.w250{
  width:250px;
}
.w120{
  width:120px;
}
.w125{
  width:125px;
}

.w130{
  width:130px;
}

.w140{
  width:140px;
}
.w150{
  width:150px;
}


.w100{
  width:100px;
}

.w370{
  width:370px;
}

.h7{
  height:7px;
}

.h10{
  height:10px;
}

.h15{
  height:15px;
}

.h25{
  height:25px;
}

.h50{
  height:50px;
}

.h75{
  height:50px;
}

.h100{
  height:100px;
}

.h120{
  height:120px;
}

.h150{
  height:150px;
}

.h200{
  height:200px;
}

.h300{
  height:300px;
}

.h500{
  height:500px;
}

/* Links */
 
a.lred {
  font-weight:bold;
  color:red;
}


a.lgreen{
  color:green; 
}

/* Typography */

.tunderline{
  text-decoration:underline;
}

.link{
  font-color: #08c;
  text-decoration:none;
}

.link:hover{
  font-color: #08c;
  text-decoration:none;
}

body{
  font-family: "Lato";
}

.alfa{
  font-family: "Alfa Slab One";
}

.raleway{
  font-family: "Raleway";
}

.josefin-sans{
  font-family: "Josefin Sans";
}

.josefin-slab{
  font-family: "Josefin Slab";
}

.arvo{
  font-family: "Arvo";
}

.roboto{
  font-family: "Roboto Slab";
}

.passion{
  font-family: "Passion One";
}

.titillium{
  font-family: "Titillium Web";
}

.source{
  font-family: "Source Sans Pro";
}

.muli{
  font-family: "Muli";
}


.crimson{
  font-family: "Crimson Text";
}


.tw800{
  font-weight: 800;
}

.tw700{
  font-weight: 700;
}

.tw600{
  font-weight: 600;
}

.tw500{
  font-weight:500;
}

.tw400{
  font-weight: 400;
}
.tw300{
  font-weight: 300;
}

.tw900 {
  font-weight:900;
}

.tbold{
  font-weight:bold;
}

.titalic{
  font-style:italic;
}

.tgrey{
  color: #888;
}

.twhite{
  color:#fff;
}

.tblack{
  color: #000;
}

.t0-6em{
  font-size:0.6em;
    line-height:1em
}
.t0-7em{
  font-size:0.7em;
    line-height:1em
}
.t0-8em{
  font-size:0.8em;
  line-height:1em;
}
.t0-9em{
  font-size:0.9em;
    line-height:1em
}
  
.t1-1em{
  font-size:1.1em;
  line-height:1em;
}

.t1-2em{
  font-size:1.2em;
  line-height:1em;
}

.t1-4em{
  font-size:1.4em;
  line-height:1em;
}

.t1-6em{
  font-size:1.6em;
  line-height:1em;
}

.t1-8em{
  font-size:1.8em;
  line-height:1em;
}

.t2em{
  font-size:2em;
  line-height:1em;
}


.t2-5em{
  font-size:2.5em;
  line-height:1em;
}

.t2-8em{
  font-size:2.8em;
  line-height:1em;
}

.t3em{
  font-size:3em;
  line-height:1em;
}


.t4em{
  font-size:6em;
  line-height:1em;
}

.t5em{
  font-size:6em;
  line-height:1em;
}

.t6em{
  font-size:6em;
  line-height:1em;
}

.t10em{
  font-size:10em;
  line-height:1em;
}

.tline-height{
  line-height:1em;
}



/* Postioning */

.z-100{
  z-index:-100;
}

.z0{
  z-index:0;
}

.z100{
  z-index:100;
}


.no-overflow{
  overflow:hidden;
}

.table{
  display:table;
  width:100%;
}

.valign-top{
 vertical-align:top; 
}

.valign-bottom{
 vertical-align:bottom; 
}

.valign-middle{
 display: table-cell;
 vertical-align:middle;
 text-align:center; 
}

.talign-right{
  text-align:right;
}
  
.talign-left{
  text-align:left;
}

/* Page blocks */

.center-wrapper{
  text-align: left;
}

.center-wrapper:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;   
}

.to-center{
  display: inline-block;
    vertical-align: middle;
}

.center{
  text-align:center;
}


.flash.error{
  border:1px solid #ff0033;
  background-color:#ffeeee;
  padding:15px;
  font-weight:bold;
   -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.flash.success{
  border:1px solid #55aa55;
  background-color:#eeffee;
  padding:15px;
  font-weight:bold;
   -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.flash.information{
  border:1px solid #BCE8F1;
  background-color:#D9EDF7;
  padding:15px;
  font-weight:bold;
   -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.flash.notice{
  border:1px solid #ffaa22;
  background-color:#fffebb;
  padding:15px;
  font-weight:bold;
   -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

#error_explanation{
  border:1px solid #ff0033;
  background-color:#ffeeee;
}

.field_with_errors label{
  color:#ff0000;
}

.booking_notes{
  width:650px;
}

.block{
  display:block;
}

.colorblock{
  margin-left:3px;
}

.colorblock-children{
  margin-left:-3px;
}

.inline-block{
  display:inline-block;

}

.inline{
  display:inline;
}


.image-overlay {
  position:relative;
}

.image-overlay .overlay-headline {
  position:absolute;
  color: #eee;
  background-color:#aaa;
  padding:10px;
  bottom:00px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  left:0px;
}

.image-overlay img {

  max-width:630px;
}

.sidebar-unit img{
  float:right;
  max-height:100px;
  
}

.no-overflow{
  overflow:hidden;
}

.main-nav{
  display:inline-block;
  padding:10px;

}

.main-nav:hover{
  background-color:#ddd;
}

.sub-nav{
  display:inline-block;
  padding:10px;

}

.sub-nav:hover{
  background-color:#aaa;
}

/* Colors */

.bgbg{
  background-color:rgb(245,238,235);
}

.bgblack{
  background-color:rgb(0,0,0);
}

.bgred{
  background-color:rgb(151,0,0);  	
}


.bgorange{
  background-color:rgb(255,167,68); 	
}

.bgyellow{
  background-color:rgb(252,204,1);
  
}

.bgbrown{
  background-color:rgb(141,57,21);
}                       

.bggreen{
  
  background-color:rgb(6,117,60);  	
}


.bggrey{
  background-color:#eee;
  
}

.bgdarkgrey{
  background-color:#ddd;
  
}

.bgblue{
  background-color:rgb(0 ,93 ,141);  	
  
}

.bgpurple{
  background-color:rgb(133,43,101);	
}

.bgwhite{
  background-color:rgb(255,255,255);
  
}
 
.bglightgrey {
  background-color:#ddd;
}

.bgdarkgrey{
  background-color:#555;
}
/* Text colours */

.tblack{
  color:rgb(0,0,0);
}

.tred{
  color:rgb(151,0,0);  	
}


.torange{
  color:rgb(255,167,68); 	
}

.tyellow{
  color:rgb(252,204,1);
  
}

.tbrown{
  color:rgb(141,57,21);
} 

.tgreen{
  
  color:rgb(6,117,60);  	
}


.tgrey{
  color:#eee;
  
}

.tdarkgrey{
  color:#ddd;
  
}

.tblue{
  color:rgb(0 ,93 ,141);  	
  
}

.tpurple{
  color:rgb(133,43,101);	
}

.twhite{
  color:rgb(255,255,255);
  
}    