// Place all the styles related to the edit_static_text controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static-field{
  width:80%;
  min-height:200px;
}

.field-title{
  display: inline-block;
  width: 100%;
  margin: 15px 0px 10px 0px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}