.container-full {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
}



/* General Rules */

body {
  margin-top: $topnav;
  @include bh(short) {
    margin-top: 87px;
  }
  @media (min-width: 661px) {
    margin-top: $topnav + $subnav;
  }
}

.content {
  // padding-top: 20px;
}

.pad-top {
  padding-top: 20px;
}

.bumper {
  margin-bottom: 30px;
}

/* This is required by the jquery lazy-load plugin, otherwise newly loaded images load is inline by default which breaks the galleryt view */
img {
  display: block;
}

$tpadding: 25px;
$tpaddingv: 2px;

th {
  padding: $tpaddingv $tpadding;
  &:first-child {
    padding-left: 5px;
  }
}

td {
  padding: $tpaddingv $tpadding;
  &:first-child {
    padding-left: 5px;
  }
}

thead {
  tr{
    border-bottom: 1px solid $grey3;
  }
}

tr {
  border-bottom: 1px solid $grey2;
  @include transition(color 0.1s linear);
}

tbody {
  a {
    color: $grey3;
  }
  tr {
    &:hover {
      background: #f2f2f2;
      a {
        color: $blue1;
      }
    }
  }
}

/* Top Nav Bar */

.top-nav-area {
  background-color: $grey1;
  height: $topnav;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 10px;
  z-index: 99999;
  @include bh(short) {
    height: 46px;
  }
}

.logo {
  height: 100%;
  background-image: url("test-logo.png");
  background-repeat: no-repeat;
  background-size: auto 64%;
  background-position: 0 34%;
  display: inline-block;
  width: 180px;
  vertical-align: middle;
}

.search-box {
  display: inline-block;
  height: 30px; //Filler - delete after
  width: 300px; //Filler - delete after
  background: #fff; //Filler - delete after
  vertical-align: middle;
}

.top-menu-temp {
  display: block;
  position: absolute;
  right: 10px;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: 661px) {
    display: none;
  }

}
.top-menu-btn {
  position: relative;
  padding-left: 1.25em;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
  display: block;
  color: #fff !important;
}

.top-menu-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 1em;
  height: 2px;
  background: #fff;
  box-shadow: 0 5px 0 0 #fff, 0 10px 0 0 #fff;
}

/* Sub Nav Bar */


.sub-nav-area {
  background-color: #fff;
  background-color: rgba(255,255,255,.9);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #999;
  z-index: 99999;
  top: $topnav;
  @include bh(short) {
    top: 46px;
  }
  @media (max-width: 660px) {
    background-color: #fff;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:not(:target) {
      display: none;
    }
  }
  .container {
    padding: 8px 0;
  }

}

%sub-nav-links {
  @extend %inline;
  color: #000;
  text-decoration: none;
}

a.sub-nav-go {
  @include fsp(16);
  font-weight: 700;
  @extend %sub-nav-links;
  padding-right: 15px;
}

.sub-nav-span {
  display: none;
  @media (min-width: 661px) {
    display: inline-block;
    @include fsp(16);
    font-weight: 700;
    padding-right: 5px;
    color: #000;
  }
}

.top-menu-close {
  position: absolute;
  top: 25px;
  right: 13px;
  line-height: 1;
  padding-left: 20px;
  color: #000 !important;
  .x {
    width: 3px;
    height: 15px;
    background: #000;
    display: block;
    position: absolute;
    left: 8px;
    top: 1px;
  }
  .x1 {
    @include transform(rotate(45deg));
  }
  .x2 {
    @include transform(rotate(-45deg));
  }
  @media (min-width: 661px) {
    display: none;
  }
}

a.sub-nav-act {

  @extend %sub-nav-links;
  font-weight: 600;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  @include fsp(12);
  display: inline-block;
  border-left: 1px solid;
  padding: 1px 15px 0 14px;
  &.isFirst {
    border-left: none;
    padding-left: 0;
  }
  &.-home {
    display: none;
  }

}

.sub-nav-area {
  a.sub-nav-act {
    @include fsp(22);
    border-left: none;
    text-align: center;
    display: block;
    @media (max-width: 660px) {
      padding: 5px 0;
      border-bottom: 1px solid #e6e6e6;
      &:hover {
        background: #f6f6f6;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    @media (min-width: 661px) {
      margin: 0;
      text-align: left;
      text-transform: uppercase;
      @include fsp(12);
      display: inline-block;
      border-left: 1px solid;
      padding: 1px 15px 0 14px;
      &.isFirst {
        border-left: none;
        padding-left: 0;
      }
      &.-home {
        display: none;
      }
    }
  }
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      @extend a.sub-nav-act;
      background: $grey1;
      color: #fff;
      padding: 1px 0px 0 4px;
    }
  }
}
.icon {
  display: none;
  @media (min-width: 661px) {
    background-image: url(sprites-temp-02.png);
    height: 17px;
    width: 17px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
}

.icon-usage {
  @extend .icon;
  background-position: 0 -1px;
}

.icon-edit {
  @extend .icon;
  background-position: -35px 0px;
}

.icon-add {
  @extend .icon;
  background-position: -71px -2px;
}

.icon-col {
  @extend .icon;
  background-position: -112px -1px;
}

.icon-white {
  background-position-y: -37px;
}

.icon-ex {
  @extend .icon;
  background-position: -37px -75px;
}

.icon-star1 {
  @extend .icon;
  background-position: -37px -75px;
}

/* Home View */

.blurb {
  max-width: 930px;
  margin: 20px 0;
  @include fs($base-font-size * 1.25);
}



/* Single Asset View */

#single-asset {
/*   border-bottom: 1px solid $grey1; */
/*   padding-bottom: 30px */
}

.single-asset-view {
  @include fsp(14);
}

.area {
  padding-top: 30px;
}

.single-img {
  width: 100%;
  @extend %box;
  img {
/*     background: #999; */
    width: 100%;
/*     height: 533px; */
  }

  @include bp(small) {
    float: right;
    padding-left: 20px;
    width: 54%;
  }

  @include bp(med) {
    width: 59%;
  }
  @include bp(big) {
    width: 69%;
  }
}

.single-block {
  display: block;
  vertical-align: top;

  @include bp(small) {
    display: inline-block;
  }
}

.single-details {
  background-color: $grey2;
  -webkit-font-smoothing: auto;
  color: $grey4;
  width: 100%;
  h1 {
    font-size: 22px;
    margin: 0;
  }

  h2, label {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }

  p {
/*       margin: 0 0 20px 0; */
  }

  @include bp(small) {
    width: 45%;
  }

  @include bp(med) {
    width: 40%;
  }

  @include bp(big) {
    width: 30%;
  }
}

.single-extra {
  @extend %box;
  overflow: auto;
  padding: 20px 25px 0;
}

.single-info {
  @extend .single-extra;
  background-color: $grey1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  h1 {
    @include fsp(18);
    margin: 0 0 10.5px;
  }
  p {
    font-weight: 600;
  }
}



/* Gallery View */

.gallery {
  @include outer-container;
  max-width: 1140px;
}

.gallery-title {
  @extend .sub-nav-go;
  position: relative;
  top: 2px;
  font-weight: 600;
  font-size: 20px;
}

.gallery-header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding: 1px 0 3px;
}

.gallery-list {
  margin-bottom: 20px;
}

.gallery-item {
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  padding: 20px 0;
  // This could be done better. Right now using Neat private function
  margin-bottom: flex-gutter(12);
  img {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  /*Hacky for testing - fix after */
  height:220px;
  overflow: hidden;
  position: relative;
}

.gallery-full-item {
  @include media($v-xsmall) {
    @include span-columns(12);
  }
  @include media($v-small) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($v-med) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($v-big) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($v-full) {
    @include span-columns(3);
    @include omega(4n);
  }
}

.gallery-sm-item {
  @include media($v-xsmall) {
    @include span-columns(12);
  }
  @include media($v-small) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($v-med) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($v-big) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($v-full) {
    @include span-columns(4);
    @include omega(3n);
  }
}


.gallery-img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

a.gallery-overlay {
  //This should just extend .single-info once it is not nested under .l4
  background-color: rgba(0,0,0,.7);
  background: rgba(23, 170, 252,.9);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  // Might need to make the overlay slightly larger than the container like on spply.
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity:0;
/*   display: none; */
/*   opacity: 0; */

  //Possibly not required
/*   display: block; */
  h1 {
    @include fsp(16);
    margin: 0;
/*     position: absolute; */
    bottom: 0;
    padding: 15px;
    font-weight: 400;
  }
  p {
    font-weight: 600;
  }

  // Hacky transition. Investigate faster javascript animation
 @include transition(all .2s);
 @include transform(translateZ(0));
 -webkit-backface-visibility: hidden;
}

a.gallery-overlay:hover {
  color: #fff;
  text-decoration: none;
/*   display: block; */
 opacity: 1;
}

.gallery-more {
  padding: 50% 0;
  width: 100%;
  text-align: center;
  @include fsp(16);
  font-weight: 700;
}

/* Edit asset view */

.field-description {
  min-height: 140px;
  width: 100%;
}

  .edit-asset {
    a.btn-delete{
      background-color: $red2;
      color: #fff;
      text-decoration: none;
      line-height: normal;
      @include transition(background-color .1s linear);
      &:hover {
        background-color: #D3454B;
      }
      display: inline-block;
      vertical-align: top;
      padding: 10px 20px;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      -webkit-font-smoothing: antialiased;
    }

    .field {
      margin-top: 10px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .actions {
      margin-top: 10px;
    }
    .single-details {
      input {
        width: 100%;
      }
      .btn {
        width: auto;
        margin: 10px 0 20px;
        // font-family: 'Proxima Nova';
        font-family: 'Open Sans', sans-serif;
        min-width: 140px;
        &:first-child {
          margin-bottom: 0;
        }
      }
    }
    .single-extra {
/*       padding-bottom: 20px; */
    }
    .single-info {
/*       padding-bottom: 25px; */
    }
  }


/* New asset view */

.new-asset {
  @extend .edit-asset;
  textarea {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Dashboard view */

.dashboard {
  padding-top: 30px;
}

.dash-search-area {
  margin-top: 50px;
  @include display(flex);
}

.dash-search, .dash-add {
  display: inline-block;
  vertical-align: top;
}

.dash-search {
  @include flex(1);
  margin-bottom: 12px;
  .btn-sub-text {
    text-align: right;
  }
}

.dash-fav {
  @include span-columns(12);
  @include bp(small) {
    @include span-columns(8);
  }
}

.dash-stats {
  display: block;
  width: 100%;
  @include bp(small) {
    @include span-columns(4);
  }
}

.top-search {
  @extend .dash-search;
  margin-bottom: 0;
  vertical-align: middle;
  @media (max-width: 660px) {
    display: none;
  }
}
.btn-text-top {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}

.flex-wrap {
  @include display(flex);
}

.flex-center {
  @include align-items(center);
}

.flex-stretch {
  @include flex(1);
  // height: 100%;
}

.form-sep {
  font-size: 20px;
  line-height: 1.5;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
}

/* People View */

.bar-dets {

  font-weight: 600;
  text-align: center;
  display: block;
  @extend %sub-nav-links;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  @include fsp(12);
  display: inline-block;
  border-left: 1px solid;
  padding: 1px 15px 0 14px;
  &.isFirst {
    border-left: none;
    padding-left: 0;
  }
}


/* Search page */

.filter-panel {
  @include outer-container;
  max-width: 1140px;
  .field {
    width: 100%;
    @media (max-width: 479px) {
      margin-bottom: 20px;
    }
    @media (min-width: 480px){
      @include span-columns(6);
    }
    @media (min-width: 800px){
      @include span-columns(3);
      @include omega(3n);
    }
  }
  #tagform {
    @media (max-width: 799px) {
      margin-right: 0;
    }
  }
  #peopleform {

    @media (min-width: 480px){
      @include span-columns(12);
      margin-bottom: 20px;
    }
    .filter-item {
      width: 100%;
      @media (max-width: 479px) {
        margin-bottom: 20px;
      }
      @media (min-width: 480px){
        @include span-columns(6);
      }
    }
    @media (min-width: 800px){
      margin-bottom: 0;
      @include span-columns(6);
      .filter-item {
        @include span-columns(3 of 6);
      }
    }
  }
}

#dateform {
  margin-top: 20px;
  @media (min-width: 480px){
    @include span-columns(12);
  }
  @media (min-width: 800px){
    @include span-columns(6);
    margin-top: 10px;
  }
}

#referenceform {
  margin-top: 20px;
  @media (min-width: 800px){
    margin-top: 10px;
  }
}

#colour {
  margin-top: 20px;
  @media (min-width: 800px){
    margin-top: 10px;
  }
  .toggle-wrap {
    margin-top: 0;
  }
}

.search-type-radio {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  .radio-label {
    font-size: 13px;
  }
}
.datepicker {
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(to bottom, #eeeeee 1%, white 15%);
  padding: 3px;
  display: inline-block;
  width: 100%;
}

.date-picker-item {
  width: 100%;
  @media (min-width: 480px){
    @include span-columns(6 of 12);
  }
  @media (min-width: 800px){
    @include span-columns(3 of 6);
  }

  label {
    display: block;
  }
}

.radio-label {
  font-size: 14px;
}

.js:not(.js-error) {
  .filter-panel {
    .search-btn {
      display: none;
    }
  }
  // .filter-panel {
  //   height: 0;
  //   overflow: hidden;
  //   &:target {
  //     height: auto;
  //   }
  // }
}




.lightbox {
  position: fixed;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  overflow: scroll;
  @media (min-width: 900px){
    overflow: hidden;
    @include display(flex);
    @include flex-direction(row);
  }
  .mejs-video {
    margin: 0 auto;
    @media (min-width: 900px){
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.lb-img {
  background: rgba(0,0,0,0.9);
  @media (min-width: 900px){
    height: 100%;
    @include flex(2 1 auto);
    @include order(2);
  }
  img {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 96%;
    @media (min-width: 900px){
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.lb-details {
//   @include flex(0 0 300px);
  @media (min-width: 900px){
    width: 260px;
    @include order(1);
    @include flex(0 0 auto);
    @include display(flex);
    @include flex-direction(column);
    .btn-fav {
      font-size: 12px;
    }
  }
  background-color: $grey2;
  -webkit-font-smoothing: auto;
  color: $grey4;

  @media (min-width:1000px){
    width: 300px;
    .btn-fav {
      font-size: 14px;
    }
  }
  h1 {
    font-size: 22px;
    margin: 0;
  }

  h2, label {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }
  .single-info {
    @media (min-width: 900px){
      @include flex(0 0 auto);
    }
    h1 {
      @include fsp(18);
      margin: 0 0 10.5px;
    }
  }
  .single-extra {
//     @include flex(1 0 auto);
  }
}

a.lightbox-link {
  display: block;
  position: absolute;
  top: 10px;
	margin-left:10px;
  line-height: 1;
  padding: 5px 8px;
  border-left: 1px solid #6DCBFF;
  border-top: 1px solid #6DCBFF;
  border-bottom: 1px solid #00528B;
  border-right:  1px solid #00528B;
  background: rgba(23, 170, 252,.7);
  color: #fff;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    background: rgba(23, 170, 252,.9);
  }
}
#infscr-loading {
  @extend .container;
  text-align: center;
  img {
    margin: 0 auto;
  }
}


.toggle-wrap {
  font-size: 12px;
  display: none;
  margin-top: 10px;
}

.toggle-button {
  cursor: pointer;
  width: 52px;
  height: 32px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  display: inline-block;
  position: relative;
  font-weight: 600;
  border-radius: 20px;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
}

.toggle-em {
  font-style: italic;
}

.toggle-bold {
  font-weight: 700;
}

.toggle-info {
  display: inline-block;
  width: calc(100% - 56px);
  line-height: 1.2;
  padding-left: 3px;
  vertical-align: middle;
}

.toggle-knob-holder {
  width: 41px;
  position: absolute;
  top: -1px;
  left: -26px;
  background-color: rgb(0, 202, 0);
  height: 32px;
  @include transition(left 0.2s);

  .toggleOn & {
    left: -6px;
  }
}
.toggle-knob {
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  right: -16px;
}

.mfp-arrow-right:after {
  margin-left: 59px !important;
}
.mfp-arrow:before {
  display: none !important;
}

.mfp-arrow-left:before {
  display: none !important;
}

.mfp-arrow-left:after {
  margin-left: 11px !important;
}
.mfp-wrap {
  z-index: 999999 !important;
}
.mfp-bg {
  z-index: 999998 !important;
}

.mfp-content{
	height:100%;
	width:60%;
}

.lightbox-container {
	display:block;
	text-align:right;
}

.mfp-close {
	z-index: 9999998 !important;
	background: #fff !important;
	position:absolute !important;
	top:30px !important;
	right:70px !important;
}

.collection-header {
  margin-bottom: 0;
  border-bottom: none;
}
.collection-subheader {
  margin-bottom: 0;
  &__heading {
    margin-right: 10px;
  }
}
.collection {
  &--gallery {
    margin-top: 20px;
  }
  &__arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    top: -1px;
    margin-right: 4px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include transform(rotate(-45deg));
    &.-child {
      width: 6px;
      height: 6px;
      @include transition(margin-left 0.2s);
      a:hover & {
        margin-left: 5px;
      }
    }
  }
  &__list-item {
    a {
      border-bottom: 1px solid #f6f6f6;
      color: #000;
      position: relative;
      display: block;
      font-size: 20px;
      font-weight: 200;
      line-height: 1;
      @include transition(background .2s ease-out);
      &:hover {
        background: #f2f2f2;
        text-decoration: none;
      }
    }
    &:not(:target) {
      .collection__list-children {
        height: 0;
      }
    }
    &:target {
      &:before {
        content:"";
        display:block;
        height:107px; /* fixed header height*/
        margin:-107px 0 0; /* negative fixed header height */
      }
    }
  }
  &__list-parent {
    padding: 15px 10px;
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 10px;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      @include transition(border-color 0.2s);
      @include transform(translateY(-50%) rotate(45deg));

    }
    &.noChildren {
      &:after {
        @include transform(translateY(-50%) rotate(-45deg));
      }
    }
    &:hover {
      &:after {
        border-color: #ccc;
      }
    }
  }
  &__list-children {
    padding-left: 20px;
    overflow:hidden;
  }
  &__list-child {
    a {
      font-size: 16px;
      padding: 10px;
    }
  }
}

.collection-item {
  padding: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 5px 5px 0 #ddd;
  img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width: none;
  }
}

.collection-item-text {
  position: absolute;
  bottom: 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #17aafc;
  color: #fff;
}

.collection-item-label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

a.collection-overlay {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  h1 {
    @include fsp(16);
    margin: 0;
    font-weight: 400;
  }
  p {
    font-weight: 600;
  }
  .collection-item-text {
    @include transition(all .2s ease-out);
  }
  &:hover {
    .collection-item-text {
      background-color: $blue2;
    }
  }
}

a.person-overlay {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  h1 {
    @include fsp(16);
    margin: 0;
    font-weight: 400;
  }
  p {
    font-weight: 600;
  }
  .collection-item-text {
    @include transition(all .2s ease-out);
  }
  &:hover {
    .collection-item-text {
      background-color: $blue2;
    }
  }
}


.header_block {
  max-width: 900px;
  margin: 0 auto;
}

.front-hero-image-block {
  @include outer-container;
  max-width: none;
}

.front-hero-image {
  @include span-columns(5);
}

.front-quote {
  @include span-columns(7);
}

.front-hero-block {
  background-image: url(front-image.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
  // min-height: 350px;
  .hero-quote {
    max-width: none;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    p {
      max-width: 900px;
      margin: 0 auto;
    }
    // min-height: 350px;
  }
}

.front-hero-heading {
  position: relative;
  min-height: 250px;
  @media (min-width: 480px) {
    min-height: 350px;
  }
  width: 100%;
  text-align: center;
  background-color: rgba(23, 170, 252, 0.8);
}

.hero-quote {
  @include fsp(18);
  @media (min-width: 480px) {
    @include fsp(24);
  }
  @media (min-width: 760px) {
    @include fs($base-font-size * 2);
  }

  p {
    font-style: italic;
  }
}

.quote-attrib {
  @include fsp(18);
  @media (min-width: 480px) {
    @include fsp(20);
  }
  @media (min-width: 760px) {
    @include fsp(26);
  }
  display: block;

  font-weight: 700;
}

.home-hero-heading {
  @include fsp(24);
  margin-bottom: 20px;
  @media (min-width: 480px) {
    @include fsp(36);
    margin-bottom: 30px;
  }
  @media (min-width: 760px) {
    @include fsp(58);
    margin-bottom: 40px;
  }
  font-weight: 800;
  max-width: 980px;
}

.front-page {
  .blurb {
    @include fsp(16);
    @media (min-width: 480px) {
      @include fsp(18);
    }
    @media (min-width: 760px) {
      @include fsp(20);
    }
  }
}

.new_collection .single-extra {
  padding-bottom: 20px;
}

.edit_collection .single-extra {
  padding-bottom: 20px;
}

.field-label.hide {
  visibility: hidden;
}

.front-logos {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;

  @media (min-width: 960px) {
    padding-bottom: 2em;
  }

  &__text {
    text-align: center;

    h2 {
      font-size: 16px;
      margin-bottom: 2em;

      @media (min-width: 480px) {
        font-size: 18px;
      }

      @media (min-width: 760px) {
        font-size: 20px;
      }
    }
  }
  &__image-wrap {
    width: 100%;
    padding: 0 20px;
    max-width: 200px;
    margin: 0 auto 20px;

    @media (min-width: 320px) {
      width: 50%;
      float: left;
      margin: 0 0 20px 0;
    }

    @media (min-width: 600px) {
      width: 33.333%;
    }

    @media (min-width: 960px) {
      width: 20%;
      margin: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.about-left {
  @media (min-width: 960px) {
    width: 70%;
    float: left;
    padding-right: 30px;
  }
}

.about-right {
  @media (min-width: 960px) {
    width: 30%;
    float: left;
    padding-left: 30px;
    border-left: 1px solid #ccc;
  }
}

.about {
  padding-top: 1em;
  .big-text {

  }

  h2 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }

  p + h2 {
    padding-top: 0.5em;
  }
}

.error-message{
	margin: 0 auto;
	display:block;
	width:350px;
	text-align:center;
}
