// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);
$topnav: 66px;
$subnav: 41px;

// Colors
/* $blue: #477DCA; */
$blue: #17aafc;
$blue2: #0e86d8;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$grey1: #222;
$grey2: #f2f2f2;
$grey3: #ccc;
$grey4: #444;
$blue1: #29abe2;
$red2: #ff5a61;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Media Query Breakpoints

  // Horizontal
$bp-xsmall: "(min-width: 480px)";
$bp-small: "(min-width: 700px)";
$bp-med: "(min-width: 900px)";
$bp-big: "(min-width: 1140px)";

  // Vertical
$bh-short: "(max-height: 500px)";

// Media Query Splitting

$bps-xsmall: 480px;
$bps-small: 700px;
$bps-med: 900px;
$bps-big: 1140px;


$v-xsmall: new-breakpoint( max-width
em($bps-xsmall));

$v-small: new-breakpoint(min-width em($bps-xsmall + 1) max-width
em($bps-small));

$v-med: new-breakpoint(min-width em($bps-small + 1) max-width
em($bps-med));

$v-big: new-breakpoint(min-width em($bps-med + 1) max-width
em($bps-big));

$v-full: new-breakpoint(min-width em($bps-big + 1));
