%section.container.static_text
  %h1 Edit Static Text
  =form_for @static_text, url: '/static_text' do |f|
    %h3.field
      =f.label "Front - Header", :class => 'field-title'
      %br
      =f.text_area :front_header, :class => 'static-field quill_container'
    %h3.field
      =f.label "Front - Introduction", :class => 'field-title'
      %br
      =f.text_area :front_introduction, :class => 'static-field quill_container'
    %h3.field
      =f.label "Front - Quote", :class => 'field-title'
      %br
      =f.text_area :front_quote, :class => 'static-field quill_container'
    %h3.field
      =f.label "About - Title", :class => 'field-title'
      %br
      =f.text_area :about_title, :class => 'static-field quill_container'
    %h3.field
      =f.label "About - Body", :class => 'field-title'
      %br
      =f.text_area :about_body, :class => 'static-field quill_container'
    %h3.field
      =f.label "About - Copyright", :class => 'field-title'
      %br
      =f.text_area :about_copyright, :class => 'static-field quill_container'
    %br  
    =f.submit class: "btn"