%header.top-nav-area#pagetop
  %a{:href => "/", :class => "logo"}
  = render 'search/form_top'


  .top-menu-temp
    %a.top-menu-btn{href: '#navmenu'}
      Menu
-@nav_state = { nav_back: true, save: true, edit: true, usage: true}
%nav.sub-nav-area#navmenu
  .container
    %a.top-menu-close{href: '#pagetop'}
      %span.x.x1
      %span.x.x2
      Close
    =link_to('/', class: "sub-nav-act -home") do
      Home
    =render "layouts/navmenu"

.flash
  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: name
