-nav_menu

/ First nav item
-if @nav_state[:back]
  %span.sub-nav-span
    Viewing asset

-if @nav_state[:ishome]
  %span.sub-nav-span
    Home

-if @nav_state[:editing]
  %span.sub-nav-span
    Editing asset

-if @nav_state[:newasset]
  %span.sub-nav-span
    Add new asset

-if @nav_state[:editperson]
  %span.sub-nav-span
    Editing person

-if @nav_state[:newperson]
  %span.sub-nav-span
    Add new person

-if @nav_state[:editcol]
  %span.sub-nav-span
    Editing collection

-if @nav_state[:newcol]
  %span.sub-nav-span
    Add new collection

-if @nav_state[:search]
  %span.sub-nav-span
    Search results

-if @nav_state[:collection]
  %span.sub-nav-span
    Collections

-if @nav_state[:showingcollection]
  %span.sub-nav-span
    Viewing collection

-if @nav_state[:favorites]
  %span.sub-nav-span
    -if current_user.name
      #{current_user.name}'s
    -else
      Your
    favourites

/ Other nav items
-if @nav_state[:dashview]
  =link_to "Dashboard", dashboard_path, :class => 'sub-nav-go'

/ -if @nav_state[:save]
/   %a.sub-nav-act
/     %span.icon-add
/     Save to collection
-if @nav_state[:addasset]
  =link_to(new_asset_path, class: "sub-nav-act") do
    %span.icon-add
    Add asset

-if @nav_state[:edit]
  =link_to("/assets/#{@asset.url}/edit", class: "sub-nav-act") do
    %span.icon-edit
    Edit asset

/ -if @nav_state[:usage]
/   %a.sub-nav-act
/     %span.icon-usage
/     View usage stats

-if @nav_state[:collection]
  =link_to(new_collection_path, class: "sub-nav-act") do
    %span.icon-add
    New collection
  -if logged_in? && current_user.admin?
    =link_to(new_collection_path({sub: true, parent_id:@archive_collection.id}), class: "sub-nav-act") do
      %span.icon-add
      New site collection

    -# =link_to 'Add new subcollection', new_collection_path({sub: true, parent_id:@collection.id}), class: "sub-nav-act"

-if @nav_state[:viewcol]
  =link_to("/collections/", class: "sub-nav-act") do
    %span.icon-col
    Collections

-unless logged_in?
  =link_to "Sign in", signin_path, :class => 'sub-nav-act'
  =link_to "Sign up", signup_path, :class => 'sub-nav-act'
-if logged_in?
  -if @nav_state[:dashgo]
    =link_to "Dashboard", "/users/#{current_user.url}/dashboard", :class => 'sub-nav-act'


  =link_to "Sign out", signout_path, method: "delete", :class => 'sub-nav-act'

-if @nav_state[:about]
  =link_to "About", "/about", :class => 'sub-nav-act'

