!!!
%html.js-error
  %head
    %title DemarcoArchive
    :javascript
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400,300,600,700,800,400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      
      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-93536345-1', 'auto');
      ga('send', 'pageview');

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", media: "all"
    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}

    =render "layouts/header"
    / Todo
    / - flash.each do |key, value|
    /   = content_tag(:div, value, class: "alert alert-#{key}")
    .content
      = yield
    = render "layouts/footer"

    .container
      = debug(params) if Rails.env.development?
